@using LabExam.Models.Map
@model IEnumerable<LabExam.Models.Entities.Principal>
@{
    ViewData["Title"] = "实验室安全教育在线-登录日志";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}
<link href="~/css/laydate.css" rel="stylesheet" />
<script src="~/js/laydate.js"></script>
<div class="admin-searach">
    <!-- 搜索栏 -->
    <div id="Search-condition" class=" bc-clr-white margin-5px  padding-15px border-little-grey-all"
         data-min-width="1250">
        <div class="float-layout">
            <!-- 模块 -->
            <span for="Terminal" class="margin-left-10px font-size-14 text-muted">终端类型:</span>
            <select name="Terminal" id="Terminal" data-height="27" data-width="110" class="font-size-13 padding-left-5px ">
                <option value="-1">--  全部  --</option>
                <option value="0">手机</option>
                <option value="1">平板</option>
                <option value="2">电脑</option>
            </select>
            <span for="TimeLeft" class="margin-left-10px font-size-14 text-muted">时间范围:</span>
            <input type="datetime-local" value="2000-01-01 00:00:00" id="TimeLeft" name="TimeLeft" data-height="25" data-width="150" class="font-size-12 padding-left-5px ">
            <span for="TimeRight" class="font-size-14 text-muted">~</span>
            <input type="datetime-local" value="9999-01-01 10:55:55" id="TimeRight" name="TimeRight" data-height="25" data-width="150" class="font-size-12 padding-left-5px ">
            <span for="KeyName" class="margin-left-10px font-size-14 text-muted">登录账号:</span>
            <input type="text" placeholder="账号" id="KeyName" name="KeyName" data-height="25" data-width="150" class="font-size-12 padding-left-5px ">

            <button class="float-right  btn btn-sm btn-primary" id="search-items">
                <span class="glyphicon glyphicon-search"></span>
                立即搜索
            </button>
        </div>
    </div>
</div>
<div class=" bc-clr-white margin-5px  padding-15px border-little-grey-all" data-min-width="1250">
    <table class="table table-hover" id="student-list">
        <thead>
            <tr>
                <th>编号</th>
                <th>登录人员</th>
                <th>Ip地址</th>
                <th>终端来源</th>
                <th class=" text-right">登录时间</th>
            </tr>
        </thead>
        <tbody class="section-items"></tbody>
    </table>
    <div class=" float-layout bc-clr-white padding-10px ">
        <label class=" InspageCount float-left">
            共 <span class="items-count">0</span> 个记录
        </label>
        <div class=" float-right">
            <button class=" btn-default btn btn-sm ">
                <span>第</span>
                <span class="show-page-Index">
                    1
                </span>
                <span>
                    /
                </span>
                <span class="show-page-Count">
                    12
                </span>
                <span>
                    页
                </span>
            </button>
            <button class="First btn btn-primary btn-sm"> <span class="glyphicon glyphicon-backward"></span>  首页</button>
            <button class="Previous btn btn-primary btn-sm"> <span class="glyphicon glyphicon-chevron-left"></span> 上一页</button>
            <button class="Next btn btn-primary btn-sm">下一页 <span class="glyphicon glyphicon-chevron-right"></span> </button>
            <button data-lastIndex="" class="Last btn btn-primary btn-sm">尾页 <span class="glyphicon glyphicon-forward"></span> </button>
            <select id="pageSkipNext" data-options="true" class=" margin-left-10px" data-height="27" data-width="45"></select>
            <button data-skip class="pageSkip btn btn-sm btn-primary">跳转</button>
        </div>
    </div>
</div>
<script id="item-template" type="x-tmpl-mustache">
    id = log.LogUserLoginId,
    uid = log.ID,
    addTime = _logger.FormatDateLocal(log.LoginTime),
    ip = log.LoginIp,
    terminal = log.Terminal
    {{#items}}
    <tr>
    <tr>
        <td>
            <label class=" label label-primary ">
                {{index}}
            </label>
        </td>
        <td>
            {{uid}}
        </td>
        <td>
            {{ip}}
        </td>

        <td>
            {{terminal}}
        </td>
        <td class="text-right">
           {{addTime}}
        </td>
    </tr>
    {{/items}}

</script>
@section Scripts
    {
    <script>
        laydate.render({
            elem: '#TimeLeft'
            ,type: 'datetime'
        });

        laydate.render({
            elem: '#TimeRight'
            ,type: 'datetime'
        });

        function stateManager() {
            var pageIndex = parseInt($('.show-page-Index').text().trim()); //当前页
            var pageCount = parseInt($('.show-page-Count').text().trim()); //总共多少页
            if (pageIndex >= pageCount) {
                $('.Next').prop("disabled", true);
            } else {
                $('.Next').prop("disabled", false);
            }
            if (pageIndex == 1) {
                $('.Previous').prop("disabled", true);
            } else {
                $('.Previous').prop("disabled", false);
            }
        }

        function CheckDateTime(str) {
            var reg = /^(\d+)-(\d{1,2})-(\d{1,2}) (\d{1,2}):(\d{1,2}):(\d{1,2})$/;
            var r = str.match(reg);
            if (r == null) return false;
            r[2] = r[2] - 1;
            var d = new Date(r[1], r[2], r[3], r[4], r[5], r[6]);
            if (d.getFullYear() != r[1]) return false;
            if (d.getMonth() != r[2]) return false;
            if (d.getDate() != r[3]) return false;
            if (d.getHours() != r[4]) return false;
            if (d.getMinutes() != r[5]) return false;
            if (d.getSeconds() != r[6]) return false;
            return true;
        }

        function loadPageByIndex(index) {

            if (!CheckDateTime($('input[name="TimeLeft"]').val().trim())) {
                onMask("错误信息", "第一个日期的格式错误 例子:年/月/日 时:分:秒");
                return;
            }

            if (!CheckDateTime($('input[name="TimeRight"]').val().trim())) {
                onMask("错误信息", "第二个日期的格式错误 例子:年/月/日 时:分:秒");
                return;
            }

            $.ajax({
                url: "/LogL/Page",
                type: "post",
                dataType: "json",
                data: {
                    index: index,
                    id: $('input[name="KeyName"]').val(),
                    terminal: $('select[name="Terminal"]').val(),
                    left: $('input[name="TimeLeft"]').val(),
                    right: $('input[name="TimeRight"]').val()
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        if (json.items == null) {
                            $('.section-items').html("");
                        } else {
                            for (var i = 0; i < json.items.length; i++) {
                                json.items[i].index = (i + 1);
                            }

                            var template = $('#item-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('.section-items').html(result);
                        }

                        $('.items-count').text(json.lineCount); //总数
                        $('.show-page-Count').text(`${json.pageCount}`); //分页总数
                        $('.show-page-Index').text(`${json.pageNowIndex}`); //当前页
                        $('button[data-lastIndex]').attr("data-lastIndex", json.pageCount); //最后一页 的index

                        $('select[data-options] > option').remove();
                        for (let index_ = 0; index_ < json.pageCount; index_++) {
                            $('select[data-options]').append(`<option value="${index_ + 1}">${index_ + 1}</option>`);
                        }
                        $('select[data-options]').val(index);
                        stateManager();
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", `网络接连错误..${errorThrown}`);
                }
            });
        }

        loadPageByIndex(1);

        $('.Next').click(function (jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) + 1);
        });

        $('.First').click(function (jqEvent) {
            loadPageByIndex(1);
        });

        $('.Previous').click(function (jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) - 1);
        });

        $('.Last').click(function (jqEvent) {
            loadPageByIndex($('button[data-lastIndex]').attr("data-lastIndex").trim());
        });

        $('button[data-skip]').click(function (jqEvent) {
            var pageIndex = parseInt($('.show-page-Index').text().trim());
            var skip = parseInt($('select[data-options]').val().trim());
            if (skip === pageIndex) {
                onMask("提示信息", "跳转页面为当前页面");
            } else {
                loadPageByIndex($('select[data-options]').val());
            }
        });

        $('#search-items').click(function (jqEvent) {
            loadPageByIndex(1);
        });

        $('.section-items').on('click',
            ".detail-button",
            null,
            function (jqEvent) {
                $('#program').modal('show');
                var id = $(this).attr("data-item-id");
                $.ajax({
                    url: "/LogS/Item",
                    type: "post",
                    dataType: "json",
                    data: {
                        logId: id
                    },
                    success: function (json) {
                        console.log(json);
                        if (json.isOk) {
                            var template = $('#detail-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('#application-detail .modal-dialog').html(result);
                            $('#program').modal('hide');
                            $('#application-detail').modal('show');
                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", `网络接连错误.. ${errorThrown}`);
                    }
                });
            });
    </script>
}
