@model IEnumerable<LabExam.Models.Entities.Module>

@{
    ViewData["Title"] = "实验室安全教育在线-模块管理";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}
<div class=" flex-layout">
    <div class="flex-item-2 border-little-grey-all bc-clr-white margin-5px" data-min-width="200"
         data-height-all>
        <h4 data-margin-bottom="0" data-margin-top="0" class="bc-clr-white border-light-down padding-bottom-10px padding-left-10px padding-top-15px ">
            安全教育模块列表
        </h4>
        <div class="admin-module-list">
            @foreach (var item in Model)
            {
                <a href="#" data-moduleId="@item.ModuleId"><span class="glyphicon glyphicon-ok-sign padding-right-10px"> </span> @item.Name </a>
            }
        </div>
    </div>
    <div class=" flex-item-9 bc-clr-white margin-5px border-little-grey-all" data-min-width="600">
        <div class=" admin—module-tab ">
            <a href="#addModule" data-toggle="tab">添加模块</a>
            <a href="#moduleInfo" data-toggle="tab">模块信息</a>
            <a href="#moduleInclude" data-toggle="tab">模块下辖学院</a>
        </div>
        <div class="tab-content margin-top-5px">
            <div class="tab-pane fade  " id="moduleInfo">
                <div class="admin-title-moudle float-layout">
                    <div class=" float-left">
                        模块基本信息
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-primary" id="StartAlterName">修改名称</button>
                        <button class="btn btn-default btn-sm margin-right-10px" id="fuiDeleteModuleButtom">
                            删除模块
                        </button>
                    </div>
                </div>
                <ul class="list-group" id="moduleInfoHtml"></ul>
            </div>
            <div class="tab-pane fade" id="moduleInclude">
                <div class="admin-title-moudle float-layout">
                    <div class=" float-left">
                        模块下辖学院列表
                    </div>
                    <div class=" float-right">
                        <button id="addInstituteThanWithModule" class="btn btn-default btn-sm margin-right-10px" >
                            添加学院
                        </button>
                    </div>
                </div>
                <div class="overflow-y-scroll" data-max-height="600">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">编号</th>
                            <th>学院名称</th>
                            <th>所属模块</th>
                            <th>学院ID</th>
                            <th>状态</th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody id="InstituteListHave"></tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="addModule">
                <div class="admin-title-moudle float-layout">
                    <div class=" float-left">
                        添加模块
                    </div>
                    <div class=" float-right">

                    </div>
                </div>
                <div class=" padding-10px">
                    <div class="margin-top-10px">
                        <label class=" label label-primary padding-10px">模块编号:</label>
                        <span class="margin-left-20px font-weight-600 font-size-14">自动编号</span>
                    </div>
                    <div class=" margin-top-30px">
                        <label class=" label label-primary padding-10px">模块名称:</label>
                        <input type="text" id="moduleNewName" name="moduleNewName" class="margin-left-20px padding-left-10px border-radius-6 "
                               data-width="350" data-height="28" />
                        <button type="submit" id="create" class="margin-left-15px btn btn-default"> <span class="glyphicon glyphicon-plus"></span>  立即添加</button>
                    </div>
                    <div class=" margin-top-30px">
                        <label class=" label label-primary padding-10px">添加时间:</label>
                        <span class="margin-left-20px font-weight-600 font-size-14">系统自动判断</span>
                    </div>
                    <div class=" margin-top-35px">
                        <label class=" label label-primary padding-10px">添加人员:</label>
                        <span class="margin-left-20px font-weight-600 font-size-14">系统自动识别</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 padding-top-10px text-primary" id="myModalLabel">删除模块--提示</h4>
            </div>
            <div class="modal-body">
                <p class="font-size-14">
                    1. 请确保此模块不包含任何学院
                </p>
                <p class="font-size-14">
                    2. 请确保没有任何试卷与之相关联
                </p>
                <p class="font-size-14">
                    3. 请确保没有任何课程相关联
                </p>
                <p class="font-size-14">
                    4. 安全教育模块关联许多数据请慎重考虑！一旦删除与之相关的很多数据将无法查找！
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="fuiDeleteModuleSureNow">立即删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ChangeModelName" tabindex="-1" role="dialog" aria-labelledby="ChangeModelName">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">修改模块名称</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="rename" class="control-label">新名称:</label>
                    <input type="text" class="form-control" id="rename">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" id="alterModuleName">保存修改</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addInstitute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 padding-top-10px text-info" id="myModalLabel">尚未归属的学院</h4>
            </div>
            <div class="modal-body">
                <div class="overflow-y-scroll" data-height="300">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>学院名称</th>
                                <th>模块</th>
                                <th>学院ID</th>
                                <th>状态</th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="WithOutModuleInstitute">

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script id="template" type="x-tmpl-mustache">
    {{#modules}}
    <a href="#" data-moduleId="{{moduleId}}"><span class="glyphicon glyphicon-ok-sign padding-right-10px"> </span> {{name}} </a>
    {{/modules}}
</script>

<script id="ModuleInfo" type="x-tmpl-mustache">
    <li class="list-group-item">
        <span class="module-list-item-info">
            模块ID:
        </span>
        <span id="ModuleIdListInfo">
            {{moduleId}}
        </span>
    </li>
    <li class="list-group-item">
        <span class="module-list-item-info">
            模块名称:
        </span>
        <span>
            {{name}}
        </span>
    </li>
    <li class="list-group-item">
        <span class="module-list-item-info">
            添加人:
        </span>
        <span>
            {{principalId}}
        </span>
    </li>
    <li class="list-group-item">
        <span class="module-list-item-info">
            添加时间:
        </span>
        <span>
            {{addTime}}
        </span>
    </li>
</script>

<script id="InstituteInfo" type="x-tmpl-mustache">
    {{#data}}
    <tr>
        <td class="text-center">{{index}}</td>
        <td>{{instituteName}}</td>
        <th>{{moduleName}}</th>
        <td>{{instituteId}}</td>
        <td>正常</td>
        <td>
            <a href="#" data-moduleId="{{moduleId}}" data-institute="{{instituteId}}" class=" btn btn-default btn-sm">删除</a>
        </td>
    </tr>
    {{/data}}
</script>
<div class="modal fade" id="program" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 font-size-14 padding-top-10px text-info">
                    拼命加载数据中 <span id="val-speed"></span>
                </h4>
            </div>
            <div class="modal-body">
                <img src="~/Resources/animation/Spinner-0.3s-120px.svg" width="85" class="layout-center" />
                <p class=" text-left">
                    <span class=" glyphicon glyphicon-cloud-upload "></span>
                    <span id="data-info">疯狂拼命搬运数据中, 请勿中途关闭窗口........</span>
                </p>
            </div>
        </div>
    </div>
</div>
<script id="WithOutModuleInstituteTemplate" type="x-tmpl-mustache">
    {{#institutes}}
    <tr>
        <td>{{index}}</td>
        <td>{{name}}</td>
        <th>暂无模块</th>
        <td>{{id}}</td>
        <td>正常</td>
        <td>
            <button data-institutesId="{{id}}"   class="btnAddInstitute btn btn-info btn-sm"> 添加</button>
        </td>
    </tr>
    {{/institutes}}
</script>
    

    @section Scripts
    {
        <script>
            $('#create').on("click",
                null,
                null,
                function (jqEvent) {

                    var moduleName = $('input[name="moduleNewName"]').val();
                    if (moduleName == "") {
                        onMask("错误", "你没有填写新模块的名称");
                    }
                    $('#program').modal('show');
                    $.ajax({
                        url: "/Module/Create",
                        type: "post",
                        dataType: "json",
                        data: {
                            name: moduleName
                        },
                        success: function (data, textStatus, jqXHR) {
                            $('#program').modal('hide');
                            if (!data.isOk) {
                                onMask("错误信息", data.error);
                            } else {
                                onMask("提示信息", "增加成功！");
                                loadModule();
                                $('input[name="moduleNewName"]').val("");
                            }
                        }
                    });
                });

            function loadModuleInfo(id) {
                $.ajax({
                    url: "/Module/ModuleInfoById",
                    type: "post",
                    dataType: "json",
                    data: {
                        moduleId: id
                    },
                    success: function(data, textStatus, jqXHR) {
                        if (data.isOk) {
                            var template = $('#ModuleInfo').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, data.module);
                            $('#moduleInfoHtml').html(result);

                            for (var i = 0; i < data.data.length; i++) {
                                data.data[i].index = i + 1;
                            }


                            var _template = $('#InstituteInfo').html();
                            Mustache.parse(_template);
                            var _result = Mustache.render(_template, data);
                            $('#InstituteListHave').html(_result);
                        } else {
                            onMask("错误信息", data.error);
                        }
                    }
                });
            }

            $('#StartAlterName').click(function(event) {
                if ($("#ModuleIdListInfo").length == 0 || $("#ModuleIdListInfo").text() == "") {
                    onMask("错误信息", "请选择修改模块");
                } else {
                    $('#ChangeModelName').modal('show');
                }
            });

            $(".admin-module-list").on("click",
                "a",
                null,
                function(jxEvent) {
                    var id = $(this).attr("data-moduleId");
                    loadModuleInfo(id);
                });

            function loadModule() {
                $.ajax({
                    url: "/Module/List",
                    type: "post",
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        var moduleList = {
                            modules: data
                        };
                        var template = $('#template').html();
                        Mustache.parse(template);
                        var result = Mustache.render(template, moduleList);
                        $('.admin-module-list').html(result);
                    }
                });
            }

            $('.admin-module-list  a').click(function (event) {
                $(this).siblings().removeClass("bc-clr-info");
                $(this).addClass("bc-clr-info");
                
                
            });

            $('#alterModuleName').click(function() {
                if ($('#rename').val() != "") {
                    $.ajax({
                        url: "/Module/ReName",
                        type: "post",
                        dataType: "json",
                        data: {
                            moduleId: parseInt($('#ModuleIdListInfo').text().trim()),
                            newName: $('#rename').val()
                        },
                        success: function(data, textStatus, jqXHR) {
                            if (data.isOk) {
                                $('#ChangeModelName').modal("hide");
                                loadModule();
                            } else {
                                onMask("错误", data.error);
                            }
                        }
                    });
                } else {
                    onMask("提示信息", "请填写新名称");
                }
            });

            $('#fuiDeleteModuleButtom').click(function(event) {
                if ($("#ModuleIdListInfo").length == 0 || $("#ModuleIdListInfo").text() == "") {
                    onMask("错误信息", "请选择修改模块");
                } else {
                    $('#deleteModule').modal("show");
                }
            });

            $('#fuiDeleteModuleSureNow').click(function() {
                $.ajax({
                    url: "/Module/Delete",
                    type: "post",
                    dataType: "json",
                    data: {
                        moduleId: parseInt($('#ModuleIdListInfo').text().trim())
                    },
                    success: function(data, textStatus, jqXHR) {
                        if (data.isOk) {
                            $('#deleteModule').modal('hide');
                            loadModule();
                        } else {
                            onMask("错误", data.error);
                        }
                    }
                });
            });

            $('#addInstituteThanWithModule').click(function(event) {
                if ($("#ModuleIdListInfo").length == 0 || $("#ModuleIdListInfo").text() == "") {
                    onMask("错误信息", "请选择添加模块");
                } else {
                    loadInstituteWithModule();
                    $('#addInstitute').modal('show');
                }
            });

            function loadInstituteWithModule() {
                $.ajax({
                    url: "/Institute/WithoutModule",
                    type: "post",
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        var moduleList = {
                            institutes: data
                        };

                        var template = $('#WithOutModuleInstituteTemplate').html();
                        Mustache.parse(template);
                        var result = Mustache.render(template, moduleList);
                        $('#WithOutModuleInstitute').html(result);
                    }
                });
            }

            $('#WithOutModuleInstitute').on('click',
                'a',
                null,
                function() {

                });

            $('#WithOutModuleInstitute').on('click',
                ".btnAddInstitute",
                null,
                function(JqEvent) {
                    var instId = $(this).attr("data-institutesId");
                    $.ajax({
                        url: "/Module/AddInstitute",
                        type: "post",
                        dataType: "json",
                        data: {
                            moduleId: parseInt($('#ModuleIdListInfo').text().trim()),
                            instituteId: instId
                        },
                        success: function(data, textStatus, jqXHR) {
                            if (data.isOk) {
                                loadInstituteWithModule();
                                loadModuleInfo(parseInt($('#ModuleIdListInfo').text().trim()));
                            } else {
                                onMask("错误", data.error);
                            }
                        }
                    });
                });

            $('#InstituteListHave').on("click",
                "a",
                null,
                function(jqEvent) {
                    jqEvent.preventDefault();

                    var mid = $(this).attr("data-moduleId").trim();
                    var iid = $(this).attr("data-institute").trim();

                    $.ajax({
                        url: "/Module/DeleteInstitute",
                        type: "post",
                        dataType: "json",
                        data: {
                            moduleId: mid,
                            instituteId: iid
                        },
                        success: function(data, textStatus, jqXHR) {
                            if (data.isOk) {
                                loadModuleInfo(mid);
                            } else {
                                onMask("错误", data.error);
                            }
                        }
                    });
                });
        </script>
    }
