/* 字体和背景的颜色 */
.bc-clr-defalut{
    background-color: rgba(244,244,244,1);
}
.bc-clr-primary{
    background-color: rgba(48,115,172,1);
}
.bc-clr-success{
    background-color: rgba(88,178,88,1);
}
.bc-clr-info{
    background-color: rgba(87,190,221,1);
}
.bc-clr-warning{
    background-color: rgba(240,170,70,1);
}
.bc-clr-danger{
    background-color: rgba(211,73,69,1);
}
.bc-clr-grey-little{
    background-color: rgba(246,246,246,0.9);
}
.bc-clr-white{
    background-color: white;
}


.font-color-white{
    color:white;
} 
.font-color-black-153{
    color:RGB(153,153,153);
}
.font-color-black-217{
    color:RGB(217,217,217);
}
.font-color-golden{
    color: RGB(243,191,24);
}

.font-color-red-light{
    color: RGB(255,40,81);
}

.font-color-link{
    color: RGB(51,122,183);
}

