@import "./_variable.scss";
@import "./_border.scss";
@import "./_float.scss";
@import "./_font.scss";
@import "./_flex.scss"; 
@import "./_layout.scss";   
@import "./_margin_padding.scss"; 
@import "./_navbar.scss";  
@import "./_theme.scss";     
@import "./_css.scss";  
@import "./_text.scss";
@import "./_media.scss";
  
  
.z-index-top-max{
    z-index:  $z-index-top-max; // 一个页面最多8层 不能使用其他数字 默认为 0 
}
.z-index-top{
    z-index:  $z-index-top; 
} 
.z-index-center-man{
    z-index: $z-index-center-max; 
} 
.z-index-center{
    z-index: $z-index-center;
} 
.z-index-bottom-max{
    z-index: $z-index-bottom-max;
}
.z-index-bottom{
    z-index: $z-index-bottom;
}
.z-index-down{
    z-index: $z-index-down;
}  