@{
    Layout = "_Layout";
    ViewData["Title"] = "实验室安全教育在线-使用帮助";
}

<div class=" container margin-top-20px bc-clr-white border-little-grey-all" data-min-height="900">
    <ul id="myTab" class="nav nav-tabs margin-top-10px">
        <li class="active">
            <a href="#exam" data-toggle="tab">考试问题</a>
        </li>
        <li>
            <a href="#out" data-toggle="tab">休学退考</a>
        </li>
        <li>
            <a href="#again" tabindex="-1" data-toggle="tab">重考相关</a>
        </li>
        <li>
            <a href="#vedio" tabindex="0" data-toggle="tab">视频学习</a>
        </li>
        <li>
            <a href="#download" tabindex="1" data-toggle="tab">指导手册下载</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content padding-15px">
        <div class="tab-pane fade in active" id="exam">
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img/exam.png"  class=" media-object" style="width:60px" /> 
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">如果考试次数用完了任未通过考试怎么办?</h4>
                    <p class=" margin-top-10px">
                        你可以自动申请重考！等待对应学院辅导员的批准！有时候会开启自动批准,有时候需要老师手动批准,得到结果时间
                        视情况而定! 考试结果可是在申请列表中查看！
                    </p>
                </div>
            </div>
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img/exam.png" class=" media-object" style="width:60px">
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">如果考试未完成中途意外退出怎么办?</h4>
                    <p class=" margin-top-10px">
                        如果你的考试试卷尚未完成,并且还有超过五分钟的考试时间,那么我们将会为你恢复考试试卷，让你继续考试。
                    </p>
                </div>
            </div>
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img/exam.png" class=" media-object" style="width:60px">
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">如何参加考试?</h4>
                    <p class=" margin-top-10px">
                        需要管理员打开考试通道,学生才能参加考试！
                    </p>
                </div>
            </div>
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img\exam.png" class=" media-object" style="width:60px">
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">如果始终考不过怎么办?</h4>
                    <p class=" margin-top-10px">
                        明年再来重新学习,参加考试吧！
                    </p>
                </div>
            </div>
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img/exam.png" class=" media-object" style="width:60px">
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">不参加考试学习会怎么样?</h4>
                    <p class=" margin-top-10px">
                        拿不到毕业证！
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="out">
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img\exam.png" class=" img-thumbnail img-circle media-object" style="width:60px">
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">如何申请退考?</h4>
                    <p class=" margin-top-10px">
                        和相关学院管理实验室安全教育的领导申请即可,或者联系安全考试技术维护人员！
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="again">
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img\exam.png" class=" img-thumbnail img-circle media-object" style="width:60px">
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">如何申请重考?</h4>
                    <p class=" margin-top-10px">
                        认真反思自己的学习态度,仔细检讨,说明原因填写申请等待管理员审批通过,审批结果会发送到邮箱！
                    </p>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="vedio">
            <div class="media hover-shadow-light">
                <div class="media-left media-top">
                    <img src="~/Resources/Img/exam.png " class=" img-thumbnail img-circle media-object" style="width:60px">
                </div>
                <div class="media-body padding-10px">
                    <h4 class="media-heading font-size-16 font-weight-700 text-primary">一定要观看完视频才能考试吗?</h4>
                    <p class=" margin-top-10px">
                        不一定,看后台设置！ 如果开发允许未完成学习也可参加考试那么就可以！
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="download">
            <label class=" font-size-15">下载地址:</label> <button class=" btn btn-primary"> <span class="glyphicon glyphicon-cloud-download"> 点击下载学生指导手册</span> </button>
        </div>
    </div>
</div>
