@charset "UTF-8";
.margin-top-85px {
  margin-top: 85px;
}

.margin-bottom-85px {
  margin-bottom: 85px;
}

.margin-left-85px {
  margin-left: 85px;
}

.margin-right-85px {
  margin-right: 85px;
}

.padding-top-85px {
  padding-top: 85px;
}

.padding-left-85px {
  padding-left: 85px;
}

.padding-right-85px {
  padding-right: 85px;
}

.padding-bottom-85px {
  padding-bottom: 85px;
}

.margin-85px {
  margin: 85px;
}

.padding-85px {
  padding: 85px;
}

.margin-top-80px {
  margin-top: 80px;
}

.margin-bottom-80px {
  margin-bottom: 80px;
}

.margin-left-80px {
  margin-left: 80px;
}

.margin-right-80px {
  margin-right: 80px;
}

.padding-top-80px {
  padding-top: 80px;
}

.padding-left-80px {
  padding-left: 80px;
}

.padding-right-80px {
  padding-right: 80px;
}

.padding-bottom-80px {
  padding-bottom: 80px;
}

.margin-80px {
  margin: 80px;
}

.padding-80px {
  padding: 80px;
}

.margin-top-75px {
  margin-top: 75px;
}

.margin-bottom-75px {
  margin-bottom: 75px;
}

.margin-left-75px {
  margin-left: 75px;
}

.margin-right-75px {
  margin-right: 75px;
}

.padding-top-75px {
  padding-top: 75px;
}

.padding-left-75px {
  padding-left: 75px;
}

.padding-right-75px {
  padding-right: 75px;
}

.padding-bottom-75px {
  padding-bottom: 75px;
}

.margin-75px {
  margin: 75px;
}

.padding-75px {
  padding: 75px;
}

.margin-top-70px {
  margin-top: 70px;
}

.margin-bottom-70px {
  margin-bottom: 70px;
}

.margin-left-70px {
  margin-left: 70px;
}

.margin-right-70px {
  margin-right: 70px;
}

.padding-top-70px {
  padding-top: 70px;
}

.padding-left-70px {
  padding-left: 70px;
}

.padding-right-70px {
  padding-right: 70px;
}

.padding-bottom-70px {
  padding-bottom: 70px;
}

.margin-70px {
  margin: 70px;
}

.padding-70px {
  padding: 70px;
}

.margin-top-65px {
  margin-top: 65px;
}

.margin-bottom-65px {
  margin-bottom: 65px;
}

.margin-left-65px {
  margin-left: 65px;
}

.margin-right-65px {
  margin-right: 65px;
}

.padding-top-65px {
  padding-top: 65px;
}

.padding-left-65px {
  padding-left: 65px;
}

.padding-right-65px {
  padding-right: 65px;
}

.padding-bottom-65px {
  padding-bottom: 65px;
}

.margin-65px {
  margin: 65px;
}

.padding-65px {
  padding: 65px;
}

.margin-top-60px {
  margin-top: 60px;
}

.margin-bottom-60px {
  margin-bottom: 60px;
}

.margin-left-60px {
  margin-left: 60px;
}

.margin-right-60px {
  margin-right: 60px;
}

.padding-top-60px {
  padding-top: 60px;
}

.padding-left-60px {
  padding-left: 60px;
}

.padding-right-60px {
  padding-right: 60px;
}

.padding-bottom-60px {
  padding-bottom: 60px;
}

.margin-60px {
  margin: 60px;
}

.padding-60px {
  padding: 60px;
}

.margin-top-55px {
  margin-top: 55px;
}

.margin-bottom-55px {
  margin-bottom: 55px;
}

.margin-left-55px {
  margin-left: 55px;
}

.margin-right-55px {
  margin-right: 55px;
}

.padding-top-55px {
  padding-top: 55px;
}

.padding-left-55px {
  padding-left: 55px;
}

.padding-right-55px {
  padding-right: 55px;
}

.padding-bottom-55px {
  padding-bottom: 55px;
}

.margin-55px {
  margin: 55px;
}

.padding-55px {
  padding: 55px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-bottom-50px {
  margin-bottom: 50px;
}

.margin-left-50px {
  margin-left: 50px;
}

.margin-right-50px {
  margin-right: 50px;
}

.padding-top-50px {
  padding-top: 50px;
}

.padding-left-50px {
  padding-left: 50px;
}

.padding-right-50px {
  padding-right: 50px;
}

.padding-bottom-50px {
  padding-bottom: 50px;
}

.margin-50px {
  margin: 50px;
}

.padding-50px {
  padding: 50px;
}

.margin-top-45px {
  margin-top: 45px;
}

.margin-bottom-45px {
  margin-bottom: 45px;
}

.margin-left-45px {
  margin-left: 45px;
}

.margin-right-45px {
  margin-right: 45px;
}

.padding-top-45px {
  padding-top: 45px;
}

.padding-left-45px {
  padding-left: 45px;
}

.padding-right-45px {
  padding-right: 45px;
}

.padding-bottom-45px {
  padding-bottom: 45px;
}

.margin-45px {
  margin: 45px;
}

.padding-45px {
  padding: 45px;
}

.margin-top-40px {
  margin-top: 40px;
}

.margin-bottom-40px {
  margin-bottom: 40px;
}

.margin-left-40px {
  margin-left: 40px;
}

.margin-right-40px {
  margin-right: 40px;
}

.padding-top-40px {
  padding-top: 40px;
}

.padding-left-40px {
  padding-left: 40px;
}

.padding-right-40px {
  padding-right: 40px;
}

.padding-bottom-40px {
  padding-bottom: 40px;
}

.margin-40px {
  margin: 40px;
}

.padding-40px {
  padding: 40px;
}

.margin-top-35px {
  margin-top: 35px;
}

.margin-bottom-35px {
  margin-bottom: 35px;
}

.margin-left-35px {
  margin-left: 35px;
}

.margin-right-35px {
  margin-right: 35px;
}

.padding-top-35px {
  padding-top: 35px;
}

.padding-left-35px {
  padding-left: 35px;
}

.padding-right-35px {
  padding-right: 35px;
}

.padding-bottom-35px {
  padding-bottom: 35px;
}

.margin-35px {
  margin: 35px;
}

.padding-35px {
  padding: 35px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.margin-left-30px {
  margin-left: 30px;
}

.margin-right-30px {
  margin-right: 30px;
}

.padding-top-30px {
  padding-top: 30px;
}

.padding-left-30px {
  padding-left: 30px;
}

.padding-right-30px {
  padding-right: 30px;
}

.padding-bottom-30px {
  padding-bottom: 30px;
}

.margin-30px {
  margin: 30px;
}

.padding-30px {
  padding: 30px;
}

.margin-top-25px {
  margin-top: 25px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-left-25px {
  margin-left: 25px;
}

.margin-right-25px {
  margin-right: 25px;
}

.padding-top-25px {
  padding-top: 25px;
}

.padding-left-25px {
  padding-left: 25px;
}

.padding-right-25px {
  padding-right: 25px;
}

.padding-bottom-25px {
  padding-bottom: 25px;
}

.margin-25px {
  margin: 25px;
}

.padding-25px {
  padding: 25px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-left-20px {
  margin-left: 20px;
}

.margin-right-20px {
  margin-right: 20px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-left-20px {
  padding-left: 20px;
}

.padding-right-20px {
  padding-right: 20px;
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

.margin-20px {
  margin: 20px;
}

.padding-20px {
  padding: 20px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.margin-left-15px {
  margin-left: 15px;
}

.margin-right-15px {
  margin-right: 15px;
}

.padding-top-15px {
  padding-top: 15px;
}

.padding-left-15px {
  padding-left: 15px;
}

.padding-right-15px {
  padding-right: 15px;
}

.padding-bottom-15px {
  padding-bottom: 15px;
}

.margin-15px {
  margin: 15px;
}

.padding-15px {
  padding: 15px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-right-10px {
  margin-right: 10px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-right-10px {
  padding-right: 10px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.margin-10px {
  margin: 10px;
}

.padding-10px {
  padding: 10px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.margin-left-5px {
  margin-left: 5px;
}

.margin-right-5px {
  margin-right: 5px;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-left-5px {
  padding-left: 5px;
}

.padding-right-5px {
  padding-right: 5px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.margin-5px {
  margin: 5px;
}

.padding-5px {
  padding: 5px;
}

.margin-top-0px {
  margin-top: 0px;
}

.margin-bottom-0px {
  margin-bottom: 0px;
}

.margin-left-0px {
  margin-left: 0px;
}

.margin-right-0px {
  margin-right: 0px;
}

.padding-top-0px {
  padding-top: 0px;
}

.padding-left-0px {
  padding-left: 0px;
}

.padding-right-0px {
  padding-right: 0px;
}

.padding-bottom-0px {
  padding-bottom: 0px;
}

.margin-0px {
  margin: 0px;
}

.padding-0px {
  padding: 0px;
}

/*浮动布局*/
.float-layout .float-left {
  float: left;
}

.float-layout .float-right {
  float: right;
}

.float-layout::after {
  display: block;
  content: "";
  clear: both;
}

/*弹性布局*/
.flex-layout {
  display: flex;
  display: -webkit-flex;
  /*设置 弹性盒子里的一行的所有子元素 在 横轴的对其方式*/
  /*定义flex 子项在flex容器中的当前行的纵轴方向上的对齐方式*/
  /*设置每一个 弹性布局快[flex 子项] 的对其方式*/
}

.flex-layout .flex-wrap-nowrap {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.flex-layout .flex-wrap-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-layout .flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
}

.flex-layout .flex-item-1 {
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
}

.flex-layout .flex-item-2 {
  flex-basis: 0px;
  flex-grow: 2;
  flex-shrink: 2;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 2;
}

.flex-layout .flex-item-3 {
  flex-basis: 0px;
  flex-grow: 3;
  flex-shrink: 3;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 3;
  -webkit-flex-shrink: 3;
}

.flex-layout .flex-item-4 {
  flex-basis: 0px;
  flex-grow: 4;
  flex-shrink: 4;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 4;
  -webkit-flex-shrink: 4;
}

.flex-layout .flex-item-5 {
  flex-basis: 0px;
  flex-grow: 5;
  flex-shrink: 5;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 5;
  -webkit-flex-shrink: 5;
}

.flex-layout .flex-item-6 {
  flex-basis: 0px;
  flex-grow: 6;
  flex-shrink: 6;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 6;
  -webkit-flex-shrink: 6;
}

.flex-layout .flex-item-7 {
  flex-basis: 0px;
  flex-grow: 7;
  flex-shrink: 7;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 7;
  -webkit-flex-shrink: 7;
}

.flex-layout .flex-item-8 {
  flex-basis: 0px;
  flex-grow: 8;
  flex-shrink: 8;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 8;
  -webkit-flex-shrink: 8;
}

.flex-layout .flex-item-9 {
  flex-basis: 0px;
  flex-grow: 9;
  flex-shrink: 9;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 9;
  -webkit-flex-shrink: 9;
}

.flex-layout .flex-item-10 {
  flex-basis: 0px;
  flex-grow: 10;
  flex-shrink: 10;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 10;
  -webkit-flex-shrink: 10;
}

.flex-layout .flex-item-11 {
  flex-basis: 0px;
  flex-grow: 11;
  flex-shrink: 11;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 11;
  -webkit-flex-shrink: 11;
}

.flex-layout .flex-item-12 {
  flex-basis: 0px;
  flex-grow: 12;
  flex-shrink: 12;
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 12;
  -webkit-flex-shrink: 12;
}

.flex-layout .flex-direction-row {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.flex-layout .flex-direction-row-reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

.flex-layout .flex-direction-column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.flex-layout .flex-direction-column-reverse {
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

.flex-layout .flex-justify-content-flex-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.flex-layout .flex-justify-content-flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.flex-layout .flex-justify-content-center {
  justify-content: center;
  -webkit-justify-content: center;
}

.flex-layout .flex-justify-content-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-layout .flex-justify-content-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flex-layout .align-items-flex-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.flex-layout .align-items-flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex-layout .align-items-center {
  align-items: center;
  -webkit-align-items: center;
}

.flex-layout .align-items-baseline {
  align-items: baseline;
  -webkit-align-items: baseline;
}

.flex-layout .align-items-stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}

.flex-layout .align-self-auto {
  align-self: auto;
  -webkit-align-self: auto;
}

.flex-layout .align-self-flex-start {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}

.flex-layout .align-self-flex-end {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.flex-layout .align-self-center {
  align-self: center;
  -webkit-align-self: center;
}

.flex-layout .align-self-baseline {
  align-self: baseline;
  -webkit-align-self: baseline;
}

.flex-layout .align-self-stretch {
  align-self: stretch;
  -webkit-align-self: stretch;
}

.layout-left-min-width {
  min-width: 200px;
}

.layout-height-100 {
  font-weight: 500;
}

.box-sizing-content {
  box-sizing: content-box;
}

.box-sizing-border {
  box-sizing: border-box;
}

#admin-narbar-top {
  position: relative;
}

#admin-narbar-top .target-diaplay {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  box-shadow: 0px 3px 6px 0px rgba(38, 38, 38, 0.2);
  z-index: 10;
}

.ban-bootsrap-a-style {
  text-decoration: none;
  color: black;
}

.ban-bootsrap-a-style:hover {
  text-decoration: none;
}

.ban-bootsrap-a-style:active {
  text-decoration: none;
}

.ban-bootsrap-a-style:link {
  text-decoration: none;
}

.z-index-top-max {
  z-index: 10000;
}

.z-index-top {
  z-index: 1000;
}

.z-index-center-man {
  z-index: 500;
}

.z-index-center {
  z-index: 250;
}

.z-index-bottom-max {
  z-index: 125;
}

.z-index-bottom {
  z-index: -75;
}

.z-index-down {
  z-index: -25;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.select-layout > option {
  height: 25px;
  padding: 5px 0;
  font-size: 14px;
}

.layout-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.layout-display-inline-block {
  display: inline-block;
}

.layout-display-block {
  display: block;
}

.layout-display-none {
  display: none;
}

.vertical-align-baseline {
  vertical-align: baseline;
}

.vertical-align-sub {
  vertical-align: sub;
}

.vertical-align-super {
  vertical-align: super;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-text-top {
  vertical-align: text-top;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-text-bottom {
  vertical-align: text-bottom;
}

.letter-spacing-10 {
  letter-spacing: 10px;
}

.letter-spacing-9 {
  letter-spacing: 9px;
}

.letter-spacing-8 {
  letter-spacing: 8px;
}

.letter-spacing-7 {
  letter-spacing: 7px;
}

.letter-spacing-6 {
  letter-spacing: 6px;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.box-sizing-content {
  box-sizing: content-box;
}

.box-sizing-border {
  box-sizing: border-box;
}

.bc-clr-grey-little {
  background-color: rgba(246, 246, 246, 0.9);
}

.bc-clr-white {
  background-color: white;
}

.bc-clr-black {
  background-color: RGB(44, 44, 44);
}

.bc-clr-defalut {
  background-color: #f4f4f4;
}

.bc-clr-primary {
  background-color: #3073ac;
}

.bc-clr-success {
  background-color: #58b258;
}

.bc-clr-info {
  background-color: #57bedd;
}

.bc-clr-warning {
  background-color: #f0aa46;
}

.bc-clr-danger {
  background-color: #d34945;
}

.bc-clr-grey-ali {
  background-color: #eaedf1;
}

.bc-clr-black-web {
  background-color: RGB(54, 54, 54);
}

.border-thumali {
  border-radius: 10px;
  border: 1px solid rgba(38, 38, 38, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(38, 38, 38, 0.5);
}

.bc-clr-spacial {
  background-color: RGB(245, 246, 250);
}

.border-radius-30 {
  border-radius: 30px;
}

.border-radius-28 {
  border-radius: 28px;
}

.border-radius-26 {
  border-radius: 26px;
}

.border-radius-24 {
  border-radius: 24px;
}

.border-radius-22 {
  border-radius: 22px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-18 {
  border-radius: 18px;
}

.border-radius-16 {
  border-radius: 16px;
}

.border-radius-14 {
  border-radius: 14px;
}

.border-radius-12 {
  border-radius: 12px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-light-down {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-little-grey-all {
  border: 1px solid gainsboro;
}

.border-shadow-down {
  border: 1px solid rgba(38, 38, 38, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(38, 38, 38, 0.2);
}

.font-color-white {
  color: white;
}

.font-color-black-153 {
  color: RGB(153, 153, 153);
}

.font-color-black-217 {
  color: RGB(217, 217, 217);
}

.font-color-golden {
  color: RGB(243, 191, 24);
}

.font-color-red-light {
  color: RGB(255, 40, 81);
}

.font-color-link {
  color: RGB(51, 122, 183);
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-100 {
  font-weight: 100;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-29 {
  font-size: 29px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-10 {
  font-size: 10px;
}

.line-height-60 {
  line-height: 60px;
}

.line-height-58 {
  line-height: 58px;
}

.line-height-56 {
  line-height: 56px;
}

.line-height-54 {
  line-height: 54px;
}

.line-height-52 {
  line-height: 52px;
}

.line-height-50 {
  line-height: 50px;
}

.line-height-48 {
  line-height: 48px;
}

.line-height-46 {
  line-height: 46px;
}

.line-height-44 {
  line-height: 44px;
}

.line-height-42 {
  line-height: 42px;
}

.line-height-40 {
  line-height: 40px;
}

.line-height-38 {
  line-height: 38px;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-34 {
  line-height: 34px;
}

.line-height-32 {
  line-height: 32px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-28 {
  line-height: 28px;
}

.line-height-26 {
  line-height: 26px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-22 {
  line-height: 22px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-18 {
  line-height: 18px;
}

.line-height-16 {
  line-height: 16px;
}

.line-height-14 {
  line-height: 14px;
}

.line-height-12 {
  line-height: 12px;
}

.line-height-10 {
  line-height: 10px;
}

.icon-vertical {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.admin-user-title {
  padding: 5px;
  background-color: rgba(38, 38, 38, 0.99);
  font-weight: 300;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  display: inline-block;
  width: 70px;
}

.admin-user-content {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(38, 38, 38, 0.5);
  display: inline-block;
  width: 200px;
}

.border-thumali {
  border-radius: 10px;
  border: 1px solid rgba(38, 38, 38, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(38, 38, 38, 0.5);
}

.info-warning {
  background-color: red;
  color: white;
  display: inline-block;
  margin-left: -15px;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}

.info-warning-green {
  background-color: RGB(0, 243, 0);
  color: white;
  display: inline-block;
  margin-left: -15px;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}

.select-default {
  border-radius: 5px;
  width: 80px;
  height: 25px;
  font-size: 14px;
  vertical-align: middle;
}

.select-default:focus {
  outline: none;
  border: 1px solid RGB(51, 122, 183);
}

.clearStyle {
  list-style: none;
  padding-left: 0px;
}

.clearStyle ul {
  list-style: none;
  padding-left: 0px;
}

/*对checkbox 的重写*/
input[type="checkbox"] + label::before {
  content: "\a0";
  /*不换行空格*/
  display: inline-block;
  vertical-align: .2em;
  width: 15px;
  height: 15px;
  margin-right: .2em;
  background-color: white;
  border: 1px solid RGB(16, 142, 233);
  text-indent: .14em;
  line-height: 0.70;
  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
}

input[type="checkbox"]:checked + label::before {
  content: "\2713";
  background-color: RGB(16, 142, 233);
  color: white;
  border: 1px solid RGB(16, 142, 233);
}

input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"]:hover + label::before {
  background-color: RGB(16, 142, 233);
}

.input_text:focus {
  outline: none;
}

.input_text {
  border-radius: 3px;
  text-indent: 5px;
}

.outline-none:focus {
  outline: none;
}

.border-only-down {
  text-indent: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

.ul-li-margin > li {
  margin-bottom: 7px;
}

.curcor-pointer {
  cursor: pointer;
}

.curcor-pointer li {
  cursor: pointer;
}

.curcor-pointer label {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .student-info-show {
    margin-top: 2px;
  }
  .student-info-show .student-info-show-content {
    padding-top: 10px;
  }
  .student-info-show .student-info-show-content .student-info-show-title {
    display: inline-block;
    text-align: center;
    width: 110px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(243, 245, 247, 0.99);
    font-weight: 600;
  }
  .student-info-show .student-info-show-content .student-info-show-value {
    display: inline-block;
    width: 580px;
    padding-left: 30px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.admin-navbar {
  padding-left: 45px;
  list-style: none;
}

.admin-navbar > li {
  display: list-item;
}

.admin-navbar > li > ul {
  padding-left: 35px;
  list-style: none;
  display: none;
}

.admin-navbar > li > ul > li {
  list-style-position: inside;
}

.admin-navbar > li > ul > li a {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.admin-navbar > li > ul > li a:hover {
  font-size: 11px;
  color: darkorange;
}

.admin-navbar > li > a {
  padding-left: 5px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}

.admin-navbar > li > a img:first-of-type {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.admin-navbar > li > a span {
  padding-left: 5px;
}

.admin-navbar > li > a:hover {
  color: RGB(243, 191, 24);
}

.admin-navbar > li .narbar-active {
  background-color: rgba(38, 66, 116, 0.7);
  border-left: 5px solid RGB(52, 160, 206);
  color: white;
}

.admin-navbar a {
  color: gainsboro;
  font-size: 14px;
}

.admin-navbar a:hover {
  text-decoration: none;
}

.admin-navbar a:active {
  text-decoration: none;
}

.admin-navbar a:link {
  text-decoration: none;
}

.admin-navbar-down {
  position: absolute;
  left: 0px;
  bottom: 30px;
  font-size: 12px;
  display: block;
  width: 100%;
  padding-left: 40px;
}

.admin-narbar-top > ul {
  margin-bottom: 0px;
}

.admin-narbar-top > ul > li {
  padding: 20px;
  position: relative;
  float: left;
}

.admin-narbar-top > ul > li > ul {
  position: absolute;
  display: none;
  list-style: none;
  padding-left: 0px;
  top: 50px;
}

.admin-narbar-top > ul > li > ul li:first-of-type {
  border-radius: 5px;
  padding: 10px;
}

.admin-module-list {
  padding: 5px;
}

.admin-module-list a {
  display: block;
  color: black;
  padding: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
  text-align: left;
  text-indent: 10px;
}

.admin-module-list .active {
  text-decoration: none;
  color: white;
  font-weight: 300;
  background-color: rgba(38, 38, 38, 0.8);
}

.admin-module-list a:hover {
  text-decoration: none;
  color: white;
  font-weight: 300;
  background-color: rgba(38, 38, 38, 0.8);
}

.admin-module-list a:active {
  text-decoration: none;
}

.admin-module-list a:link {
  text-decoration: none;
}

.admin—module-tab {
  border-bottom: 1px solid gainsboro;
}

.admin—module-tab > a {
  display: inline-block;
  background-color: rgba(246, 246, 246, 0.7);
  padding: 10px 20px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
}

.admin-title-moudle {
  border-left: 5px solid rgba(38, 38, 38, 0.7);
  border-right: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  font-weight: 600;
  vertical-align: middle;
  background-color: RGB(245, 246, 250);
}

.admin-title-moudle > .float-left {
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 10px;
  height: 40px;
}

.admin-title-moudle > .float-right {
  height: 40px;
  line-height: 40px;
}

.module-list-item-info {
  font-size: 14px;
  color: gray;
  display: inline-block;
}

/*没有 bootstrap 版本*/
.ban-bootsrap > input[type="checkbox"] + label::before {
  content: "\a0";
  /*不换行空格*/
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: .2em;
  background-color: white;
  border: 1px solid RGB(16, 142, 233);
  text-indent: .11em;
  vertical-align: baseline;
  line-height: 0.70;
  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
}

.ban-bootsrap > input[type="checkbox"]:checked + label::before {
  content: "\2713";
  background-color: RGB(16, 142, 233);
  color: white;
  border: 1px solid RGB(16, 142, 233);
}

.ban-bootsrap > input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.ban-bootsrap > input[type="checkbox"]:hover + label::before {
  background-color: RGB(16, 142, 233);
}

.bootstrap-checkbox {
  max-width: none;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
}

.bootstrap-checkbox > input[type="checkbox"] + label::before {
  content: "\a0";
  /*不换行空格*/
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-weight: 400;
  background-color: white;
  vertical-align: baseline;
  border: 1px solid RGB(16, 142, 233);
}

.bootstrap-checkbox > input[type="checkbox"]:checked + label::before {
  content: "\2713";
  background-color: RGB(16, 142, 233);
  color: white;
  line-height: 16px;
}

.bootstrap-checkbox > input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.bootstrap-checkbox > .checkout-label {
  max-width: none;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
}

a:hover {
  text-decoration: none;
}
