<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/app.min.js"></script>
    <link href="~/css/AdminEntry.min.css" rel="stylesheet" />
    <link rel="icon" href="~/Resources/system/icon/backEnd.png" />
    <title>@ViewBag.Title</title>
</head>
<body class=" bc-clr-grey-little">
    <div class="flex-layout">
        <div class=" flex-item-3 layout-height-100 bc-clr-black-web" data-max-width="220" data-min-width="220" style=" position: relative;">
            <div class="font-color-black-153 font-size-12 padding-left-40px margin-bottom-10px " data-margin-top="150">
                SICNUIE
            </div>
            <ul class="admin-navbar ">
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/exam4.svg" width="20" />
                        <span>模块管理</span>
                    </a>
                    <ul>
                        <li><a asp-controller="Module" asp-action="Index">1.模块信息</a></li>
                        <li><a asp-controller="Institute" asp-action="Index">2.学院列表</a></li>
                        <li><a asp-controller="Profession" asp-action="Index">3.专业列表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/system2016110418.svg" width="20" />
                        <span>系统配置</span>
                    </a>
                    <ul>
                        <li><a asp-controller="Principal" asp-action="Admin">1.系统管理员</a></li>
                        <li><a asp-controller="Setting" asp-action="Sys">2.系统配置</a></li>
                        <li><a href="#">3.系统运行</a></li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/student2016110418.svg" width="20" />
                        <span>学生管理</span>
                    </a>
                    <ul>
                        <li><a asp-controller="Manager" asp-action="Create">1.添加学生</a></li>
                        <li><a asp-controller="Manager" asp-action="list">2.学生列表</a></li>
                        <li><a href="#">3.统计情况</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/exam3.svg" width="20" />
                        <span>题库管理</span>
                    </a>
                    <ul>
                        <li><a asp-controller="Single" asp-action="Index">1.单择题</a></li>
                        <li><a asp-controller="Judge" asp-action="Index">2.判断题</a></li>
                        <li><a asp-controller="Multiple" asp-action="Index">3.多选题</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/exam2016110418.svg" width="20" />
                        <span>考试管理</span>
                    </a>
                    <ul>
                        <li><a asp-controller="Setting" asp-action="Index">1.考试出题</a></li>
                        <li><a href="#">2.考试试卷</a></li>
                        <li><a href="#">3.考试情况</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/question2016110418.svg" width="20" />
                        <span>课程管理</span>
                    </a>
                    <ul>
                        <li><a asp-controller="Cource" asp-action="Create">1.添加课程</a></li>
                        <li><a asp-controller="Cource" asp-action="Index">2.课程列表</a></li>
                        <li><a href="#">3.课程资料</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/exam5.svg" width="20" />
                        <span>申请事务</span>
                    </a>
                    <ul>
                        <li><a href="#">1.处理学生申请</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="~/Resources/Admin/login/message.svg" width="20" />
                        <span>系统日志</span>
                    </a>
                    <ul>
                        <li><a href="#">1.管理员操作日志</a></li>
                        <li><a href="#">2.学生操作日志</a></li>
                        <li><a href="#">3.用户登陆日志</a></li>
                    </ul>
                </li>
            </ul>
            <div class="admin-navbar-down font-color-white">
                <img src="~/Resources/Admin/login/mainPage.svg" width="14" title="返回系统主页" />
                <img src="~/Resources/Admin/login/tianqi.svg" width="16" class=" margin-left-10px" title="消息条数" />
                <img src="~/Resources/Admin/login/time.svg" width="18" class=" margin-left-10px" title="现在时间" />
            </div>
        </div>
        <div class=" flex-item-12">
            <div class="admin-narbar-top bc-clr-white border-light-down float-layout ">
                <ul class="list-unstyled float-left  float-layout">
                    <li>
                        <a asp-controller="Principal" asp-action="Index" class="ban-bootsrap-a-style" >
                            <img src="~/Resources/Admin/login/list.svg" width="20" class="icon-vertical" />
                            <span class=" font-color-grey padding-left-25px">
                                管理员： 蒋廖周
                            </span>
                        </a>
                    </li>
                </ul>
                <div class=" float-right padding-15px">
                    <a href="#" data-toggle="modal" data-target="#User-warning">
                        <img src="~/Resources/Admin/login/message2.svg"
                             width="25">
                        <span class="info-warning">1</span>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#User-danger" class=" margin-left-20px margin-right-10px ">
                        <img src="~/Resources/Admin/login/message.svg" width="22">
                        <span class="info-warning-green">2</span>
                    </a>
                </div>
            </div>
            <div class="margin-10px ">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="modal fade" id="User-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font-weight-600 padding-top-10px text-danger" id="myModalLabel">紧急信息</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class=" font-size-14 text-muted text-danger">
                                1. 系统异常情况 今天发生异常
                                <b class=" font-weight-600 font-color-white padding-left-5px padding-right-5px bc-clr-danger ">3</b>
                                起 请联系技术人员 查看日志系统进行排查
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">稍后处理</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="User-danger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title font-weight-600 padding-top-10px text-info" id="myModalLabel">学生申请</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <ul class="list-group">
                            <li class="list-group-item float-layout">
                                <div class=" float-left">
                                    当前有 <b class=" text-warning">3</b> 同学申请重新考试,请求老师批准
                                </div>
                                <div class=" float-right">
                                    <a href="/Home/Index" class=" btn btn-sm btn-info float-right">
                                        立即查看
                                    </a>
                                </div>

                            </li>
                            <li class="list-group-item float-layout ">
                                <div class=" float-left">
                                    新增尚未浏览的建议或投诉信息 <b class=" text-warning">3</b> 条
                                </div>
                                <div class=" float-right">
                                    <a href="/Home/Index" class=" btn btn-sm btn-info float-right">立即查看 </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">稍后处理</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title text-primary" id="myModalLabel">
                        <span class=" glyphicon glyphicon-cloud-download "></span> <span class=" font-weight-600 mask-module-title">提示信息</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <p class="  font-size-14 text-primary mask-module-content">你的权限不足！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/mustache/mustache.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.admin-navbar > li>a').on('click', null, null, function () {
                $('.admin-navbar > li>ul').slideUp();
                if ($(this).next().css('display') == "block") {
                    $(this).next().slideUp();
                } else {
                    $(this).next().slideDown();
                }
                $('.admin-navbar >li>a>span').removeClass('font-color-golden');
                $(this).find('span').addClass('font-color-golden');
            });
        });
    </script>
</body>
@RenderSection("Scripts", required: false)
</html>
