@model LabExam.Models.JsonModel.SystemSetting
@{
    ViewData["Title"] = "实验室安全教育在线-系统配置";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<div class="margin-5px " data-height-all>
    <div id="configSystem" class=" border-little-grey-all  bc-clr-white margin-5px" data-min-width="300">
        <div class=" padding-10px curcor-pointer">
            <h4 class="border-light-down font-size-14 font-weight-600 padding-bottom-10px ">
                登录考试系统配置
            </h4>
            <div class=" margin-bottom-10px">
                <label class="bootstrap-checkbox">
                    <input type="checkbox" id="studentcanlogin" />
                    <label for="studentcanlogin" class="checkout-label"> 允许学生登录系统</label>
                </label>
            </div>
            <div class=" margin-bottom-10px">
                <label class="bootstrap-checkbox">
                    <input type="checkbox" id="teachercanlogin" />
                    <label for="teachercanlogin" class="checkout-label"> 允许管理员登录系统</label>
                </label>
            </div>
            <div class=" margin-bottom-10px">
                <label class="bootstrap-checkbox">
                    <input type="checkbox" id="examICan" />
                    <label for="examICan" class="checkout-label"> 允许学生参加考试</label>
                </label>
            </div>
            <div class=" margin-bottom-10px">
                <label class="bootstrap-checkbox">
                    <input type="checkbox" id="pastexamICan" />
                    <label for="pastexamICan" class="checkout-label"> 允许往届学生参加考试</label>
                </label>
            </div>
            <div class=" float-layout">
                <button class=" btn btn-sm btn-success float-left" >
                    <span class=" glyphicon  glyphicon-copy"></span>
                    检查配置信息</button>
                <button class=" btn btn-primary float-right" >
                    <span class=" glyphicon  glyphicon-save"></span>
                    立即保存
                </button>
            </div>
        </div>
    </div>
    <div class=" border-little-grey-all  bc-clr-white margin-5px" data-min-width="760">
        <div class=" padding-10px ">
            <h4 class="border-light-down font-size-14 font-weight-600 padding-bottom-10px ">
                系统维护人员配置
            </h4>
            <div>
                <p><span class="font-size-14 font-weight-600">技术人员:</span> <span></span></p>
                <p>
                    <label class=" text-muted  padding-5px  font-size-14">姓名:</label>
                    <input type="text" data-width="150" data-height="20"
                           class=" padding-left-5px font-size-12  border-down-only no-focus "
                           placeholder="填写维护人员姓名">

                    <label class="  text-muted  padding-5px  font-size-14">电话:</label>
                    <input type="text" data-width="220" data-height="20"
                           class="padding-left-5px font-size-12 border-down-only no-focus"
                           placeholder="填写维护人员电话">

                    <label class=" text-muted  padding-5px  font-size-14">QQ:</label>
                    <input type="text" data-width="220" data-height="20"
                           class="padding-left-5px font-size-12 border-down-only no-focus"
                           placeholder="填写维护人员QQ">
                </p>
                <p>
                    <label class="text-muted  padding-5px  font-size-14">姓名:</label>
                    <input type="text" data-width="150" data-height="20"
                           class="padding-left-5px font-size-12 border-down-only no-focus"
                           placeholder="填写维护人员姓名">

                    <label class=" text-muted  padding-5px  font-size-14">电话:</label>
                    <input type="text" data-width="220" data-height="20"
                           class="padding-left-5px font-size-12 border-down-only no-focus"
                           placeholder="填写维护人员电话">

                    <label class=" text-muted  padding-5px  font-size-14">QQ:</label>
                    <input type="text" data-width="220" data-height="20"
                           class="padding-left-5px font-size-12 border-down-only no-focus"
                           placeholder="填写维护人员姓名">
                </p>
                <div class=" float-layout">
                    <button class=" btn btn-primary float-right">
                        <span class=" glyphicon  glyphicon-save"></span>
                        立即保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class=" border-little-grey-all  bc-clr-white margin-5px">
        <div class=" padding-10px">
            <h4 class="border-light-down font-size-14 font-weight-600 padding-bottom-10px ">
                各模块考试安排
            </h4>
            <ul class=" clearStyle ul-li-margin curcor-pointer">
                <li>
                    <label class="bootstrap-checkbox">
                        <input type="checkbox" id="val-id-1" />
                        <label for="val-id-1" class="checkout-label"> 允许其它理工类考试</label>
                    </label>
                </li>
                <li>
                    <label class="bootstrap-checkbox">
                        <input type="checkbox" id="val-id-2" />
                        <label for="val-id-2" class="checkout-label"> 允许化学生物类考试</label>
                    </label>
                </li>
                <li>
                    <label class="bootstrap-checkbox">
                        <input type="checkbox" id="val-id-3" />
                        <label for="val-id-3" class="checkout-label"> 允许文史艺体类考试</label>
                    </label>
                </li>
                <li>
                    <label class="bootstrap-checkbox">
                        <input type="checkbox" id="val-id-4" />
                        <label for="val-id-4" class="checkout-label"> 允许物理信息类考试</label>
                    </label>
                </li>
                <li>
                    <label class="bootstrap-checkbox">
                        <input type="checkbox" id="val-id-5" />
                        <label for="val-id-5" class="checkout-label"> 允许文史艺体（影传专用课）考试</label>
                    </label>
                </li>
                <li>
                    <label class="bootstrap-checkbox">
                        <input type="checkbox" id="val-id-6" />
                        <label for="val-id-6" class="checkout-label"> 允许文史艺体（国教必修补充）考试</label>
                    </label>
                </li>
            </ul>
            <div class=" float-layout">
                <button class=" btn btn-primary float-right">
                    <span class=" glyphicon  glyphicon-save"></span>
                    立即保存
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="program" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-400 font-size-14 padding-top-10px text-info">拼命版本数据中</h4>
            </div>
            <div class="modal-body">
                <span class=" glyphicon glyphicon-cloud-upload "></span> 拼命搬运数据中........
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $('#configSystem').on('click',"button:first",null,
            function(jqEvent) {
                $.ajax({
                    url: "/Setting/Reload",
                    type: "post",
                    dataType: "json",
                    success: function(json, textStatus, jqXhr) {
                        if (json.isOk) {
                            onMask(json.title, json.message);
                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        onMask("错误", errorThrown);
                    }
                });
            });


        $('#configSystem').on('click',"button:last",null,
            function(jqEvent) {
                $('#program').modal("show");
            });
    </script>
}
