@{
    ViewData["Title"] = "实验室安全教育在线-导入题目";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<div class=" bc-clr-white padding-10px  border-little-grey-all" data-height-all>
    <h4 class="border-light-down font-size-15 font-weight-500 padding-bottom-10px ">
        <span class="glyphicon glyphicon-collapse-down"></span> 导入考试题目
        <small class=" padding-left-10px"> 请注意:按照规定的Excel格式 导入考试题目
            [请注意 题目所属模块名称请直接复制系统的模块名称,防止文字符号错误]</small>
    </h4>
    <form class=" float-layout" name="insert-form" enctype="multipart/form-data" method="post">
        <a class="btn btn-primary btn-sm margin-left-20px ">
            <input type="file" class="bootstrap-file-admin" name="excelFileInfo" id="excelFileInfo" />
        </a>
        @Html.AntiForgeryToken()
        <button type="submit" class=" btn btn-primary btn-sm " style=" height:34px">立即上传文件</button>
        <span class=" glyphicon glyphicon-question-sign curcor-pointer " title="请注意了" data-container="body"
              data-toggle="popover" data-placement="right" data-content="仅仅支持Excel 格式的文件上传 请严格上传给定格式的Excel模板"></span>
        <a class=" btn btn-danger  float-right" href="~/demo/20161104182019ExamDemo.xlsx">下载标准导入Excel 模板</a>
    </form>

    <hr>
    <div class=" margin-top-10px" id="analysis">
        <div class="font-color-link font-size-12 text-center border-little-grey-all padding-5px bc-clr-grey-little  "
             style="width:120px">
            上传文件分析结果
        </div>
        <div class=" padding-10px">
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">上传题目总数:</span>
                    <span class="student-info-show-value border-light-down "> 0 名</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">单选题总数:</span>
                    <span class="student-info-show-value border-light-down "> 0 名</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">多选题总数:</span>
                    <span class="student-info-show-value border-light-down "> 0 名</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">判断题总数:</span>
                    <span class="student-info-show-value border-light-down "> 0 名</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">异常情况:</span>
                    <span class="student-info-show-value border-light-down font-size-13 text-danger">
                        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#ErrorInfo">查看异常信息</button>
                    </span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">文件格式错误:</span>
                    <span class="student-info-show-value border-light-down ">
                        <label class=" label label-primary">无</label>
                        /
                        <label class=" label label-danger">有</label>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class=" margin-10px">
            <div class=" font-color-link font-size-12 text-center
                 padding-5px
                 border-little-grey-all bc-clr-grey-little  "
                 style="width:120px">
                导入数据库结果
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">重复题目数量:</span>
                    <span class="student-info-show-value border-light-down "> 0 名</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">新增单选题:</span>
                    <span class="student-info-show-value border-light-down "> 0 道 </span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">新增多选题:</span>
                    <span class="student-info-show-value border-light-down "> 0 道</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">新增判断题:</span>
                    <span class="student-info-show-value border-light-down "> 0 道</span>
                </div>
            </div>
            <div class="student-info-show">
                <div class="student-info-show-content padding-left-10px">
                    <span class="student-info-show-title">成功导入数量:</span>
                    <span class="student-info-show-value border-light-down "> 0 道</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="result-template" type="x-tmpl-mustache">
    <div class="font-color-link font-size-12 text-center border-little-grey-all padding-5px bc-clr-grey-little  "
         data-width="120">
        上传文件分析结果
    </div>
    <div class=" padding-10px">
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">上传题目总数:</span>
                <span class="student-info-show-value border-light-down "> {{allCount}} 名</span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">单选题总数:</span>
                <span class="student-info-show-value border-light-down "> {{singleCount}} 名</span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">多选题总数:</span>
                <span class="student-info-show-value border-light-down "> {{multipleCount}} 名</span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">判断题总数:</span>
                <span class="student-info-show-value border-light-down "> {{judgeCount}} 名</span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">异常情况:</span>
                <span class="student-info-show-value border-light-down font-size-13 text-danger">
                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#ErrorInfo">查看异常信息</button>
                </span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">文件格式错误:</span>
                <span class="student-info-show-value border-light-down ">
                    {{#extension}}
                    <label class=" label label-primary">无</label>
                    {{/extension}}

                    {{^extension}}
                    <label class=" label label-danger">有</label>
                    {{/extension}}

                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class=" margin-10px">
        <div class=" font-color-link font-size-12 text-center
                 padding-5px
                 border-little-grey-all bc-clr-grey-little  "
             data-width="120">
            导入数据库结果
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">重复题目数量:</span>
                <span class="student-info-show-value border-light-down "> {{repeatCount}} 名</span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">新增单选题:</span>
                <span class="student-info-show-value border-light-down "> {{successSingleCount}} 道 </span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">新增多选题:</span>
                <span class="student-info-show-value border-light-down "> {{successMultipleCount}} 道</span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">新增判断题:</span>
                <span class="student-info-show-value border-light-down "> {{successJudgeCount}} 道</span>
            </div>
        </div>
        <div class="student-info-show">
            <div class="student-info-show-content padding-left-10px">
                <span class="student-info-show-title">成功导入数量:</span>
                <span class="student-info-show-value border-light-down "> {{success}} 道</span>
            </div>
        </div>
    </div>
</script>
<script src="~/lib/validation/jquery.validate.min.js"></script>
<script src="~/lib/mustache/mustache.min.js"></script>
<script src="~/lib/validation/messages_zh.js"></script>
<div class="modal fade" id="ErrorInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 padding-top-10px text-info">错误信息</h4>
            </div>
            <div class="modal-body text-muted font-size-11">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">稍后处理</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="program" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 font-size-14 padding-top-10px text-info">
                    拼命加载数据中 <span id="val-speed"></span>
                </h4>
            </div>
            <div class="modal-body">
                <img src="~/Resources/animation/Spinner-0.3s-120px.svg" width="85" class="layout-center" />
                <p class=" text-left">
                    <span class=" glyphicon glyphicon-cloud-upload "></span>
                    <span id="data-info">疯狂拼命搬运数据中, 请勿中途关闭窗口........</span>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('form[name="insert-form"]').on('submit',
            null,null,
            function (jqEvent) {
                jqEvent.preventDefault();

                if ($('#excelFileInfo').val() == null || $('#excelFileInfo').val() == "") {
                    onMask("错误", "请选择文件！");
                    return;
                }
                else {
                    var fileo = $('input[type="file"]').val();
                    var extension = fileo.split('.')[fileo.split('.').length - 1];

                    if (extension.toLowerCase() != "xlsx") {
                        onMask("错误", "请上传Excel 文件！后缀为xlsx ");
                        return;
                    }
                }
                $('#program').modal('show');
                var formData = new FormData($('form')[0]);

                $.ajax({
                    url: "/Excel/InsertExaminationQuestions",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (json) {
                        $('#program').modal('hide');
                        console.log(json);
                        if (json.isOk) {
                            
                            var template = $('#result-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('#analysis').html(result);
                            
                            $('#ErrorInfo .modal-body').html(json.error);
                        }
                        onMask(json.title, json.message);
                    },
                    error: function (json) {
                        $('#program').modal('hide');
                        onMask("错误提示", "服务器内部错误！");
                    }
                });
            });
    </script>
}