<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><span class="glyphicon glyphicon-user"></span> 技术支持人员：</strong>
    <b>@ViewBag.StaffName</b>   
    联系电话:@ViewBag.StaffPhone
    QQ:@ViewBag.StaffQQ
    @ViewBag.index
</div>