@{
    ViewData["Title"] = "list";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<div class="admin-searach">
    <!-- 搜索栏 -->
    <div id="Search-condition" class=" bc-clr-white margin-5px  padding-15px border-little-grey-all"
         data-min-width="1250">
        <div class="float-layout">
            <span for="InstituteId" class="font-size-14 text-muted">所属学院：</span>
            <select id="InstituteId" name="InstituteId"  data-height="26" data-width="180" class="font-size-12 padding-left-5px " >
            </select>
            <!-- 所属专业 -->
            <span for="ProfessionId" class="margin-left-20px font-size-14 text-muted">所属专业：</span>
            <select id="ProfessionId" name="ProfessionId" data-height="26" data-width="150" class="font-size-12 padding-left-5px ">
            </select>
            <!-- 名称  -->
            <span for="studentNameId" class="margin-left-20px font-size-14 text-muted">名字：</span>
            <input value="" type="text" id="studentName" name="studentName" data-height="22"
                   data-width="100" class="font-size-12 padding-left-5px ">
            <span for="studentNameId" class="margin-left-20px font-size-14 text-muted">学号：</span>
            <input value="" type="text" id="studentId" name="studentId" data-height="22"
                   data-width="160" class="font-size-12 padding-left-5px ">
            <button id="searchInstitute" class="float-right  btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-search"></span>
                立即搜索
            </button>
        </div>
    </div>
    <!--  操作栏 -->
    <div class=" bc-clr-white margin-5px  padding-15px border-little-grey-all" data-min-width="1250">
        <label class=" bootstrap-checkbox">
            <input type="checkbox" id="shooseAllCode" />
            <label for="shooseAllCode" class="checkout-label"> 编号</label>
        </label>

        <label class="margin-left-15px bootstrap-checkbox">
            <input type="checkbox" id="yjs-student" checked />
            <label for="yjs-student" class="checkout-label"> 研究生</label>
        </label>
        <label class="margin-left-5px bootstrap-checkbox">
            <input type="checkbox" id="bks-student" checked />
            <label for="bks-student" class="checkout-label"> 本科生</label>
        </label>
        <span  class="margin-left-20px font-size-14 text-muted">年级：</span>
        <select name="studentGrade" id="studentGrade" data-height="24" data-width="100" class="font-size-14 font-weight-400 padding-left-5px ">

        </select>
        <a class="margin-left-20px btn btn-sm btn-success" asp-controller="Manager" asp-action="Create" target="_blank">
            <span class="glyphicon glyphicon-plus"></span>
            添加学生
        </a>
        <button class=" btn btn-sm btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
            导入学生
        </button>
        <button class=" btn btn-sm btn-primary" data-toggle="modal" data-target="#delete">
            <span class="glyphicon-ok glyphicon glyphicon-remove"></span>
            删除选中
        </button>
    </div>
</div>
<div class=" bc-clr-white margin-5px  padding-15px border-little-grey-all" data-min-width="1250">
    <table class="table table-hover" id="student-list">
        <thead>
            <tr>
                <th>编号</th>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>专业</th>
                <th>学院</th>
                <th>学生年级</th>
                <th>学生类型</th>
                <th>出生日期</th>
                <th>身份证号</th>
                <th>数据操作</th>
            </tr>
        </thead>
        <tbody class="section-items">

        </tbody>
    </table>
    <div class=" float-layout ">
        <label class=" float-left">
            共 <span class="items-count">3</span> 名学生
        </label>
        <div class=" float-right">
            <a href="#" class=" btn-default btn btn-sm ">
                <span>第</span>
                <span class="show-page-Index">
                    1
                </span>
                <span>
                    /
                </span>
                <span class="show-page-Count">
                    12
                </span>
                <span>
                    页
                </span>
            </a>
            <button class="First btn btn-success btn-sm">
                <span class="glyphicon glyphicon-backward"></span>
                首页
            </button>
            <button class="Previous btn btn-success btn-sm">
                <span class="glyphicon glyphicon-chevron-left"></span>
                上一页
            </button>
            <button class="Next btn btn-success btn-sm">
                下一页 <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button class="Last btn btn-success btn-sm" data-lastIndex="1" >
                尾页 <span class="glyphicon glyphicon-forward"></span>
            </button>
            <select data-options="true" class=" margin-left-10px text-center" data-height="27" data-width="45">

            </select>
            <button data-skip="true" class="btn btn-sm btn-primary">跳转</button>
        </div>
    </div>
</div>

<div class="modal fade " id="detail-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">

    </div>
</div>
<div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 font-size-15 padding-top-10px text-primary" id="myModalLabel">删除提示</h4>
            </div>
            <div class="modal-body">
                <p class=" text-primary font-size-14">
                    1. 任何对于数据的删除请都谨慎
                </p>
                <p class=" text-primary font-size-14">
                    2. 请确保没有与此相关联的数据
                </p>
                <p class=" text-primary font-size-14">
                    3. 请注意相关联数据都会被删除掉
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="deleteButton">
                    <span class=" glyphicon glyphicon-trash "></span>
                    立即删除
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <span class=" glyphicon glyphicon-folder-close "></span>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<script id="item-template" type="x-tmpl-mustache">
    {{#items}}
    <tr>
        <td>
           <label  class="checkout-label">{{index}}</label>
        </td>
        <td>
            {{studentId}}
        </td>
        <td>
            {{studentName}}
        </td>
        <td>
            {{sex}}
        </td>
        <td>
            {{professionName}}
        </td>
        <td>
            {{instituteName}}
        </td>
        <td>
            {{grade}}
        </td>
        <td>
            {{studentType}}
        </td>
        <td>
            {{birthDate}}
        </td>
        <td>
            {{idNumber}}
        </td>
        <td>
            <button class=" btn btn-primary btn-sm dialog-delete"  data-delete-id="{{studentId}}" >
                <span class="glyphicon glyphicon-remove"></span>
                删除
            </button>
            <button class=" btn btn-default btn-sm dialog-detail" data-detail-id="{{studentId}}">
                <span class="glyphicon glyphicon-search"></span> 详情
            </button>
        </td>
    </tr>
    {{/items}}
</script>
<script id="detail-template" type="x-tmpl-mustache">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title font-weight-600 padding-top-10px text-info" id="myModalLabel">学生信息详情</h4>
        </div>
        <div class="modal-body" data-min-height="300">
            <div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">昵称</span>
                        <span class="student-info-show-value border-light-down "> {{studentName}}</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">年级</span>
                        <span class="student-info-show-value border-light-down "> {{grade}} 级</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">学号</span>
                        <span class="student-info-show-value border-light-down "> {{studentId}}</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">性别</span>
                        <span class="student-info-show-value border-light-down "> {{sex}}</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">成绩</span>
                        <span class="student-info-show-value border-light-down "> {{maxExamScore}} [最好成绩]</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">身份</span>
                        <span class="student-info-show-value border-light-down "> {{studentType}}</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">学院</span>
                        <span class="student-info-show-value border-light-down "> {{instituteName}}</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">专业</span>
                        <span class="student-info-show-value border-light-down "> {{professionName}}</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">考试次数</span>
                        <span class="student-info-show-value border-light-down "> {{examCount}}  [次]</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">身份证号码</span>
                        <span class="student-info-show-value border-light-down "> {{idNumber}}</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">登录次数</span>
                        <span class="student-info-show-value border-light-down "> {{loginCount}} [次]</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">申请重考次数</span>
                        <span class="student-info-show-value border-light-down "> {{appCount}} [次]</span>
                    </div>
                </div>
                <div class="student-info-show">
                    <div class="student-info-show-content padding-left-10px">
                        <span class="student-info-show-title">学习时长</span>
                        <span class="student-info-show-value border-light-down "> {{studyTime}} [分钟]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">立即关闭</button>
        </div>
    </div>
</script>
@section Scripts
{
    <script type="text/javascript">

        $('#shooseAllCode').on('click', function () {
            $('#student-list > tbody > tr > td input[type=checkbox]').prop('checked', $(this).prop(
                'checked'));
        });

        (function loadInstitute() {
            $.ajax({
                url: "/Institute/List",
                type: "post",
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    $("#InstituteId")
                        .append('<option value="-1">所有学院</option>');
                    for (var index in data) {
                        $("#InstituteId")
                            .append(`<option value="${data[index].instituteId}">${data[index].name}</option>`);
                    }
                    loadProfession();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    onMask("错误", errorThrown);
                }
            });
        })();
        LoadYear();

        function loadProfession() {
            var id = $('#InstituteId').val();
            $.ajax({
                url: "/Profession/ListOnlyById",
                type: "post",
                dataType: "json",
                data: {
                    pid: id
                },
                success: function(data, textStatus, jqXHR) {
                    $("#ProfessionId option").remove();
                    $("#ProfessionId")
                        .append('<option value="-1">所有专业</option>');
                    for (var index in data.professions) {
                        $("#ProfessionId")
                            .append(
                                `<option value="${data.professions[index].id}">${data.professions[index].name
                                }</option>`);
                    }

                    loadPageByIndex(1);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    onMask("错误", errorThrown);
                }
            });
        }

        $('#InstituteId').change(function(jqEvent) {
            loadProfession();
        });

        $('#ProfessionId').change(function(jqEvent) {
            loadPageByIndex(1);
        });

        function LoadYear() {
            var yearNow = new Date().getFullYear();

            $("#studentGrade").append('<option value="-1">所有年级</option>');
            for (var index = yearNow; index > 2015; index--) {
                $("#studentGrade")
                    .append(`<option value="${index}">${index}</option>`);
            }
        }

        function stateManager() {
            var pageIndex = parseInt($('.show-page-Index').text().trim()); //当前页
            var pageCount = parseInt($('.show-page-Count').text().trim()); //总共多少页
            if (pageIndex >= pageCount) {
                $('.Next').prop("disabled", true);
            } else {
                $('.Next').prop("disabled", false);
            }
            if (pageIndex == 1) {
                $('.Previous').prop("disabled", true);
            } else {
                $('.Previous').prop("disabled", false);
            }
        }

        function loadPageByIndex(index) {
            $.ajax({
                url: "/Manager/Page",
                type: "post",
                dataType: "json",
                data: {
                    index: index,
                    sName: $('#studentName').val(),
                    sId: $('#studentId').val(),
                    iId: $('#InstituteId').val(),
                    isUnder: $('#bks-student').prop("checked"),
                    isPost: $('#yjs-student').prop("checked"),
                    grade: $('#studentGrade').val(),
                    pid: $('#ProfessionId').val()
                },
                success: function (json, textStatus, jqXhr) {
                    console.log($('#studentGrade').val());
                    console.log(json);

                    if (json.isOk) {
                        if (json.items == null) {
                            $('.section-items').html("");
                        } else {
                            for (var i = 0; i < json.items.length; i++) {
                                json.items[i].index = (i + 1);
                            }

                            var template = $('#item-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('.section-items').html(result);
                        }


                        $('.items-count').text(json.lineCount); //学院总数
                        $('.show-page-Count').text(`${json.pageCount}`); //分页总数
                        $('.show-page-Index').text(`${json.pageNowIndex}`); //当前页
                        $('button[data-lastIndex]').attr("data-lastIndex", json.pageCount); //最后一页 的index


                        $('select[data-options] > option').remove();
                        for (let index_ = 0; index_ < json.pageCount; index_++) {
                            $('select[data-options]').append(`<option value="${index_ + 1}">${index_ + 1}</option>`);
                        }
                        $('select[data-options]').val(index);

                        stateManager();
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        }

        $('.Next').click(function(jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) + 1);
        });

        $('.First').click(function(jqEvent) {
            loadPageByIndex(1);
        });

        $('.Previous').click(function(jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) - 1);
        });

        $('.Last').click(function(jqEvent) {
            loadPageByIndex($('button[data-lastIndex]').attr("data-lastIndex").trim());
        });

        $('button[data-skip]').click(function(jqEvent) {
            var pageIndex = parseInt($('.show-page-Index').text().trim());
            var skip = parseInt($('select[data-options]').val().trim());
            if (skip === pageIndex) {
                onMask("提示信息", "跳转页面为当前页面");
            } else {
                loadPageByIndex($('select[data-options]').val());
            }
        });

        $('#searchInstitute').click(function(jqEvent) {
            loadPageByIndex(1);
        });

        $('.section-items').on('click',
            '.dialog-delete',
            null,
            function (jqEvent) {
                $('#delete-dialog button:eq(1)').attr("data-delete-id", $(this).attr("data-delete-id"));
                $('#delete-dialog').modal('show');
            });

        $('.section-items').on('click',
            '.dialog-detail',
            null,
            function(jqEvent) {
                var id = $(this).attr("data-delete-id");
                $.ajax({
                    url: "/Manager/StuPerson",
                    type: "post",
                    dataType: "json",
                    data: {
                        sId: id
                    },
                    success: function (json, textStatus, jqXhr) {
                        console.log(json);
                        if (json.isOk) {
                            var template = $('#detail-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('#detail-dialog .modal-dialog ').html(result);

                            $('#detail-dialog').modal('show');
                        } else {
                            onMask(json.title, title.message);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        onMask("错误", "网络接连错误..");
                    }});
            });


        $('#delete-dialog button:eq(1)').click(function(jqEvent) {
            var id = $(this).attr("data-delete-id").trim();
            $.ajax({
                url: "/Manager/Delete",
                type: "post",
                dataType: "json",
                data: {
                    sId: id
                },
                success: function(json, textStatus, jqXhr) {
                    if (json.isOk) {
                        $('#delete-dialog').modal('hide');
                        loadPageByIndex(1);
                        onMask("提示信息", json.message);
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络连接失败...");
                }
            });
        });

    </script>
}
