
@{
    ViewData["Title"] = "实验室安全教育在线-学生统计报表";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}
<script src="~/lib/echarts/echarts.min.js"></script>
<script src="~/lib/echarts/walden.js"></script>
<div class=" margin-5px bc-clr-white  padding-10px border-little-grey-all ">
    <div id="tablist-hover">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#firstView" aria-controls="home" role="tab" data-toggle="tab">
                    统计视图
                </a>
            </li>
            <li role="presentation">
                <a href="#addInstitute" aria-controls="profile" role="tab"
                   data-toggle="tab">学院人数统计</a>
            </li>

        </ul>
        <div class="tab-content margin-top-10px">
            <div role="tabpanel" class="tab-pane active" id="firstView">
                <div style=" height:320px;" id="LoginStatus">

                </div>
                <div class=" flex-layout">
                    <div class=" flex-item-4 bc-clr-white  " id="ChartExamInfo">
                        <div id="chart-student-info" style=" height:320px;">

                        </div>

                    </div>
                </div>

                <div class=" flex-layout">

                    <div class="flex-item-3  bc-clr-white margin-5px padding-10px">
                        <div id="WebSiteCallOption" style=" width:100%; height:300px">

                        </div>
                    </div>

                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="addInstitute">
                <div class="flex-item-5  bc-clr-white margin-5px padding-10px">
                    <div id="ModelStatus" style=" width:1200px; height:950px">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        var theme = "walden";

        function Format(date) {
            var year = date.getFullYear();
            var $month = date.getMonth() + 1;
            var month = $month > 9 ? $month.toString() : '0' + $month;
            var $date = date.getDate();
            var day = $date > 9 ? $date.toString() : "0" + $date;
            return `${year}/${month}/${day} 0:00`;
        }

        function getLastDay(date, last) {
            var $date = new Date(date.getTime());
            $date.setDate($date.getDate() - last);
            return $date;
        }

        function getLastMonth(date, length) {
            var dateArray = new Array();

            for (let i = 0; i < length; i++) {
                var $date = getLastDay(date, i);
                var format = Format($date);
                dateArray.push(format);
            }
            return dateArray;
        }

        $('#LoginStatus').width($('#firstView').width());

        console.log($('#LoginStatus').width());

        var LoginChart = echarts.init(document.getElementById('LoginStatus'), theme);
        LoginChart.showLoading();
        $.ajax({
            url: "/EChart/Login",
            type: "get",
            dataType: "json",
            success: function (json, textStatus, jqXhr) {
                console.log(json);
                var timeData = getLastMonth(new Date(), json.length);

                console.log(timeData);

                var values = [];

                for (var index in timeData) {
                    var key = timeData[index];
                    if (json.data.hasOwnProperty(key)) {
                        values.unshift(json.data[key]);
                    } else {
                        values.unshift(0);
                    }
                }
                console.log(values);
                

                var loginStatusOption = {
                    title: {
                        x: 'center',
                        text: "系统登录情况",
                        subtext: "[学生和管理员的登录情况]",
                        textStyle: {
                            fontSize: 16
                        }
                    },
                    grid: {
                        show: false,
                        borderColor: "red",
                        borderWidth: 2,
                        left: 50,
                        bottom: 60,
                        right: 40
                    },
                    dataZoom: {
                        type: 'slider',
                        realtime: true,
                        start: 0,
                        end: 100,
                        xAxisIndex: 0,
                        backgroundColor: 'rgba(38,38,38,0.1)'
                    },
                    xAxis: {
                        name: "时间",
                        show: true,
                        type: "category",
                        data: timeData
                    },
                    yAxis: {
                        name: "人数",
                        min: 0,
                    },
                    legend: {
                        x: "right"
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            animation: false
                        }
                    },
                    series: [
                        {
                            name: '登陆人数',
                            type: 'line',
                            symbolSize: 8,
                            hoverAnimation: false,
                            data: values,
                            areaStyle: {}
                        }
                    ]
                }

                        
                LoginChart.hideLoading();
                LoginChart.setOption(loginStatusOption,true);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                onMask("错误", errorThrown);
            }
        });

        var app = {}
        app.currentIndex = -1;

        var myChart = echarts.init(document.getElementById('chart-student-info'), theme);

        var model = echarts.init(document.getElementById('WebSiteCallOption'), theme);

        myChart.showLoading();
        model.showLoading();

        $.ajax({
            url: "/EChart/Distribute",
            type: "get",
            dataType: "json",
            success: function (json, textStatus, jqXhr) {
                console.log(json);
                var optionExam = {
                    title: {
                        text: '系统成员分布',
                        subtext: "System member distribution",
                        x: 'left',
                        textStyle: {
                            fontSize: 16
                        }
                    },
                    legend: {
                        type: 'scroll',
                        orient: 'vertical',
                        right: 10,
                        top: 45,
                        bottom: 20
                    },
                    toolbox: {
                        orient: "horizontal",
                        itemSize: "16",
                        itemGap: 10,
                        feature: {
                            saveAsImage: {
                                name: "系统成员分布"
                            },
                            restore: {

                            },
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c}人 ({d}%)"
                    },
                    series: [
                        {
                            name: '情况',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: json.data,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };

                setInterval(function () {
                    var dataLen = optionExam.series[0].data.length;
                    // 取消之前高亮的图形
                    myChart.dispatchAction({
                        type: 'downplay',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    app.currentIndex = (app.currentIndex + 1) % dataLen;
                    // 高亮当前图形
                    myChart.dispatchAction({
                        type: 'highlight',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    // 显示 tooltip
                    myChart.dispatchAction({
                        type: 'showTip',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                }, 2500);

                myChart.hideLoading();
                myChart.setOption(optionExam, true);

                var callOption = {
                    title: {
                        text: '用户访问方式',
                        x: 'center',
                        subtext: "用户访问终端"
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left'
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: false },
                            magicType: {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: json.terminals
                        }
                    ]
                };
                
                model.hideLoading();
                model.setOption(callOption);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                onMask("错误", errorThrown);
            }
        });

        var modelStatus = echarts.init(document.getElementById('ModelStatus'), theme);
        $.ajax({
            url: "/EChart/Institute",
            type: "get",
            dataType: "json",
            success: function (json, textStatus, jqXhr) {
               
                var optionModel = {
                    title: {
                        text: "各学院学生数量",
                        subtext: "Student Distribution",
            
                        textStyle: {
                            fontSize: 16
                        }
                    },
                    tooltip: {
                        trigger: 'axis'

                    },
                    legend: {},
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    yAxis:
                    {
                        type: 'category',
                        data: json.names,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                    ,
                    series:
                    {
                        name: '拥有学生数量',
                        type: 'bar',
                        barWidth: '60%',
                        data: json.vals
                    }

                };
                modelStatus.setOption(optionModel);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                onMask("错误", errorThrown);
            }
        });


    </script>
}

