<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
        <script src="../../lib/jquery/dist/jquery.js"></script>
        <script src="../../lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="../../css/fui.min.css" />
        <link rel="stylesheet" href="../../css/fui-animation.min.css" />
        <link rel="icon" href="../../Resources/system/icon/icon.png" />
        <title>实验室安全教育在线-公告</title>
    </head>
    <body class=" bc-clr-grey-little">
        <div class=" bc-clr-white border-little-grey-all">
            <div class=" padding-15px container flex-layout  ">
                <div class=" flex-item-4 text-one-line-ellipsis  " data-line-height="280%">
                    <span class="text-primary  font-size-20 font-weight-700">
                        SICNU 实验室安全教育
                    </span>
                    <small class=" text-muted font-size-13  ">四川师范大学实验室安全教育在线</small>
                </div>
                <div class=" flex-item-7 text-right float  ">
                    <ul class="nav nav-pills float-right ">
                        <li role="presentation"><a href="#">系统公告</a></li>
                        <li role="presentation"><a href="#">使用帮助</a></li>
                        <li role="presentation"><a href="#">申请加入考试</a></li>
                        <li role="presentation"><a href="#">密码修改</a></li>
                        <li role="presentation" class="dropdown  ">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                                登录/退出
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class=" padding-top-5px">
                                    <a href="./Login.html" class=" letter-space-2  hover-text-center font-size-13">
                                        <span class="glyphicon glyphicon-log-in"></span>
                                        登录
                                    </a>
                                </li>
                                <li class=" padding-top-5px">
                                    <a href="./Person.html" class=" letter-space-1  hover-text-center font-size-13">
                                        <span class="glyphicon glyphicon-home"></span>
                                        学生中心
                                    </a>
                                </li>
                                <li class=" padding-top-5px">
                                    <a href="./LoginError.html" class=" letter-space-1  hover-text-center font-size-13 ">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        退出登陆
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class=" container margin-top-10px bc-clr-white border-little-grey-all ">
            <div class=" flex-layout padding-15">
                <div class="flex-item-3  margin-top-65px margin-right-20px ">
                    <ul id="content-nemu" class="list-group">
                        <li class="list-group-item active" data-info-show="#list-item-1">考试原则声明</li>
                        <li class="list-group-item" data-info-show="#list-item-2">学校重要通知</li>
                        <li class="list-group-item" data-info-show="#list-item-3">学习内容与注意事项</li>
                        <li class="list-group-item" data-info-show="#list-item-4">学习和考试时间安排</li>
                        <li class="list-group-item" data-info-show="#list-item-5">严正声明</li>
                    </ul>
                </div>
                <div class="flex-item-7 padding-15">
                    <div class="text-center font-size-24 text-primary text-shadow-primary margin-top-30px ">
                        四川师范大学安全教育学习与考试说明
                    </div>
                    <div class=" text-right  border-light-down margin-bottom-10px ">
                        <small>
                            2018/9/26
                        </small>
                    </div>
                    <div id="content-list">
                        <div id="list-item-1" class="panel panel-primary margin-bottom-20px ">
                            <div class="panel-heading text-indent-10px">
                                考试原则声明
                            </div>
                            <div class="panel-body font-size-15">
                                <p>一切考试相关说明以本网站为准</p>
                            </div>
                        </div>
                        <div id="list-item-2" class="panel panel-primary margin-bottom-20px">
                            <div class="panel-heading text-indent-10px">
                                学校重要通知
                            </div>
                            <div class="panel-body font-size-15">

                                1、还有一部份同学网上的先修课程没有完成，没有通过的，还没有注册，请大家注意截至时间：
                                特色课程运行时间，2018-10-7 23点截至。考试时间2018-10-14 23点截至。务必在规定时间完成。
                                <br /><br />
                                2、关于2019年实验室安全与环保能力在线学习与考试的通知
                                各学院及实验室：
                                根据学校工作安排和 <b>《高校实验室工作规程》</b>、<b>《危险化学品安全管理条例》</b>、<b>《教育部办公厅关于加强高校教学实验室安全工作的通知》</b>
                                （教高厅[2017]2号）、<b>《四川省教育厅关于2018年全省教育系统安全生产大检查工作方案的通知》（川教函〔2018〕424 号）</b>、
                                <b>《四川师范大学实验室安全与环保管理制度》（校字[2013]115号文件）</b>规定和要求，学校决定在2019级本科、硕士研究生中继续开展网上“自主学习、
                                集中授课、统一考试”的实验室安全与环保能力教育培训工作，有关安排通知于后：
                                <br />
                            </div>
                        </div>
                        <div id="list-item-3" class="panel panel-primary margin-bottom-20px">
                            <div class="panel-heading text-indent-10px ">
                                学习内容与注意事项
                            </div>
                            <div class="panel-body font-size-15">
                                1.学生通过学号登录，自动识别所在专业（转专业学生按照原专业要求进行学习和考试，达到现在和原来所学两专业中要求较低的专业考试合格线即认定为合格）
                                <br /><br />
                                2.系统对于不同专业的学生有不同的实验室安全与环保能力要求，提供不同的学习课程板块和不同的学分。各专业学生的学习内容和考试范围以及通过考试的合格分数线（65-80分）均不相同。
                                不同学生所在专业对应不同的教学模块：课程组合不同，学分要求不同，考试内容和合格分数线不同。
                            </div>
                        </div>
                        <div id="list-item-4" class="panel panel-primary margin-bottom-20px">
                            <div class="panel-heading text-indent-10px ">
                                学习和考试时间安排
                            </div>
                            <div class="panel-body font-size-15">
                                1.学习时间：<br />

                                2018年10月，学生在分配的时间段内自主安排时间凭学号和密码登录学习系统进行选课和学习。<br /><br />

                                2.各板块考试时间：<br />

                                <strong>化学生物类</strong>：2018年10月15日-11月30日<br />

                                <strong>物理信息类</strong>：2018年10月15日-11月30日<br />

                                <strong>文史艺体类</strong>：2018年11月1日-11月30日<br />

                                <strong>其它理工类</strong>：2018年11月1日-11月30日<br />
                                <br />
                                补考：在截至日期前，当天没有通过的学生下一工作日安排重新考试。考试次数共三次，以最高分数作为最终成绩。<br />

                                特别注意：在截止日期以前可以继续学习然后登录考试。但超过时限后考试系统将自动关闭，请同学们认真进行网上学习，做好考前准备。<br />
                            </div>
                        </div>
                        <div id="list-item-5" class="panel panel-primary margin-bottom-20px">
                            <div class="panel-heading text-indent-10px ">
                                严正声明
                            </div>
                            <div class="panel-body font-size-15">
                                <strong>不接受专业培训、考试未通过者，原则上不得进入实验室进行实验操作，若擅自进行实验操作而引发事故，将依法依规追究相关人员责任。</strong>
                                实验室安全教育培训工作必须常抓不懈，请各单位分管实验室工作的院长和实验室主任、学生辅导员负责组织并将要求通知到本单位每一位学生。
                                前期考试未通过者在系统开放后第一周内一并参加重考。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" margin-top-5px ">
            <div class=" bc-clr-white text-center  padding-10px">
                <a class=" font-weight-600 font-size-12 " href="#">Server Right 2019-2021 Support by 505 mobile lab</a>
                <a class=" font-weight-600 font-size-12 " href="#">四川师范大学 实验设备处 维护运行 </a>
                <a href="#" class="font-weight-600 font-size-12"> <span class="glyphicon glyphicon-search"></span> </a>
            </div>
        </div>
        <script src="~/js/app.min.js"></script>
        <script src="~/js/animation.min.js"></script>
    </body>

<script>
    $(function () {
        $(".list-group-item").on("click",
            null,
            null,
            function() {
                $(this).addClass('active').siblings().removeClass('active');
                var target = $(this).attr("data-info-show");
                $('.layout-panel-info').removeClass('layout-panel-info');
                $(target).addClass("layout-panel-info")
                $(this).prependTo("#content-nemu");
                $(target).prependTo("#content-list");
            });
    })
</script>
</html>