<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <script src="../../lib/jquery/dist/jquery.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../css/fui.min.css" />
    <link rel="stylesheet" href="../../css/fui-animation.min.css" />
    <link rel="icon" href="../../Resources/system/icon/icon.png" />
    <script src="../../lib/validation/jquery.validate.min.js"></script>
    <script src="../../lib/validation/messages_zh.js"></script>
    <script src="../../lib/validation/additional-methods.min.js"></script>
    <title>实验室安全教育在线-公告</title>
</head>
<body class=" bc-clr-grey-little">
    <div class=" bc-clr-white border-little-grey-all">
        <div class=" padding-15px container flex-layout  ">
            <div class=" flex-item-4 text-one-line-ellipsis  " data-line-height="280%">
                <span class="text-primary  font-size-20 font-weight-700">
                    SICNU 实验室安全教育
                </span>
                <small class=" text-muted font-size-13  ">四川师范大学实验室安全教育在线</small>
            </div>
            <div class=" flex-item-7 text-right float  ">
                <ul class="nav nav-pills float-right ">
                    <li role="presentation"><a href="#">系统公告</a></li>
                    <li role="presentation"><a href="#">使用帮助</a></li>
                    <li role="presentation"><a href="#">申请加入考试</a></li>
                    <li role="presentation"><a href="#">密码修改</a></li>
                    <li role="presentation" class="dropdown  ">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            登录/退出
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=" padding-top-5px">
                                <a href="./Login.html" class=" letter-space-2  hover-text-center font-size-13"> <span
                                        class="glyphicon glyphicon-log-in"></span>
                                    登录 </a>
                            </li>
                            <li class=" padding-top-5px">
                                <a href="./Person.html" class=" letter-space-1  hover-text-center font-size-13"><span
                                        class="glyphicon glyphicon-home"></span>
                                    学生中心 </a>
                            </li>
                            <li class=" padding-top-5px">
                                <a href="./LoginError.html" class=" letter-space-1  hover-text-center font-size-13 ">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    退出登陆
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class=" container" data-min-height="900">
        <div class=" margin-top-15px padding-15px bc-clr-white border-little-grey-all " data-min-height="70">
            <h4 class=" border-light-down padding-bottom-5px text-primary ">申请加入考试</h4>
            <form id="loginFrom" action="register" class="form-horizontal margin-top-20px" role="form" method="post">
                <div class="form-group">
                    <label for="RealName" class="col-sm-2 control-label">真实姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-max-width="400" id="RealName" name="RealName"
                            placeholder="请输入你的真实姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="StudentID" class="col-sm-2 control-label">学号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-max-width="400" id="UserName" name="UserName"
                            placeholder="请输入你的学号">
                    </div>
                </div>
                <div class="form-group">
                        <label for="GradeNow" class="col-sm-2 control-label">当前年级</label>
                        <div class="col-sm-10">
                            <input type="GradeNow" class="form-control" data-max-width="400" id="GradeNow" name="GradeNow"
                                placeholder="请输入你的密码">
                        </div>
                    </div>
                <div class="form-group">
                    <label for="NumberID" class="col-sm-2 control-label">身份证号码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" data-max-width="400" id="NumberID" name="NumberID"
                            placeholder="请再次输入你的密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="PasswordAgin" class="col-sm-2 control-label">通知邮件</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" data-max-width="400" id="UserEmail" name="UserEmail"
                            placeholder="申请结果发送到此邮件">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Insititute" class="col-sm-2 control-label">学院</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" data-max-width="400" id="Insititute" name="Insititute"
                            placeholder="申请结果发送到此邮件">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Insititute" class="col-sm-2 control-label">专业</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" data-max-width="400" id="Insititute" name="Insititute"
                            placeholder="申请结果发送到此邮件">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Insititute" class="col-sm-2 control-label">出生日期</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" data-max-width="400" id="Insititute" name="Insititute"
                            placeholder="申请结果发送到此邮件">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Insititute" class="col-sm-2 control-label">身份类型</label>
                <div class="col-sm-10">
                        <select name="identity" id="identity" class="form-control" data-max-width="400" >
                            <option value="bks">本科生</option>
                            <option value="yjs">研究生</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Insititute" class="col-sm-2 control-label">情况说明:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="Insititute" id="Insititute" data-max-width="400" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">立即注册！ 不要犹豫</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="ShowError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span class=" text-primary">提示信息</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <p class=" font-weight-600">账户已经存在！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class=" margin-top-5px ">
        <div class=" bc-clr-white text-center  padding-10px">
            <a class=" font-weight-600 font-size-12 " href="#">Server Right 2019-2021 Support by 505 mobile lab</a>
            <a class=" font-weight-600 font-size-12 " href="#">四川师范大学 实验设备处 维护运行 </a>
            <a href="#" class="font-weight-600 font-size-12"> <span class="glyphicon glyphicon-search"></span> </a>
        </div>
    </div>
</body>
<script src="../../js/app.min.js"></script>
<script src="../../js/animation.min.js"></script>
<script>
    $(function () {
        $("form").validate({
            //错误提示信息
            messages: {
                RealName: {
                    required: "请填写你的真实姓名" //此方法在username控件上的所有验证规则提示都是设置的这个字符串
                },
                UserName: {
                    required: "填写你的学号",
                    rangelength: "字符长度{0}到{1}之间"
                },
                PasswordAgin: {
                    equalTo: "两次密码不一样"
                }

            },
            //验证规则
            rules: {
                //使用空间 name 名称
                RealName: {
                    required: true
                },
                UserName: {
                    required: true,
                    rangelength: [10, 12]
                },
                UserEmail: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true
                },
                PasswordAgin: {
                    required: true,
                    equalTo: "#Password"
                },
                userInfo: {
                    required: true
                }
            },
            errorClass: "text-danger",
            submitHandler: function (form) {
                $.get("Exists", {
                    AccountID: $('#UserName').val()
                }, function (data, textstatus, jqXHR) {
                    console.log(data);
                    if (data.isHave) {
                        $('#ShowError').modal("show");
                    } else {
                        form.submit();
                    }
                }, "json");
            }
        });
    });
</script>

</html>