
@{
    ViewData["Title"] = "实验室安全教育在线-课程列表";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<div class="admin-searach">
    <!-- 搜索栏 -->
    <div id="Search-condition" class=" bc-clr-white margin-10px  padding-15px border-little-grey-all"
         data-min-width="1250">
        <div class="float-layout" id="corporation">
            <span for="ModuleId" class=" font-size-14 text-muted">所属模块：</span>
            <select name="ModuleId" id="ModuleId" data-height="27" data-width="150" class="font-size-13 padding-left-5px "></select>
            <span for="ModuleStatus" class="margin-left-20px font-size-14 text-muted">课程状态</span>
            <select name="ModuleStatus" id="ModuleStatus" data-height="27" data-width="150" class="font-size-13 padding-left-5px ">
                <option value="-1">-- 全部 --</option>
                <option value="0">使用中</option>
                <option value="1">未使用</option>
            </select>
            <span for="KeyName" class="margin-left-20px font-size-14 text-muted">关键字：</span>
            <input value="" type="text" id="KeyName" name="KeyName"
                   data-height="24" data-width="200" class="font-size-12 padding-left-5px ">
            <button class="float-right  btn btn-sm btn-primary" id="search-items">
                <span class="glyphicon glyphicon-search"></span>
                立即搜索
            </button>
        </div>

    </div>
    <div class=" bc-clr-white margin-10px  padding-15px border-little-grey-all" data-min-width="1250">
        <a asp-controller="Cource" asp-action="Create" class=" btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            添加课程
        </a>
        <button class=" btn btn-sm btn-primary" onclick="UseAll()">
            <span class="glyphicon glyphicon-hand-up"></span>
            全部使用
        </button>
        <button class=" btn btn-sm btn-primary" onclick="NotUseAll()">
            <span class="glyphicon glyphicon-hand-down"></span>
            全部停用
        </button>
        <button class=" btn btn-sm btn-default" onclick="Clear()" >
            <span class="glyphicon glyphicon-remove-circle"></span>
            清空筛选条件
        </button>
    </div>
</div>
<div class=" bc-clr-white margin-10px  padding-15px border-little-grey-all" data-min-width="1250">
    <table class="table table-hover" id="student-list">
        <thead>
            <tr>
                <th>编号</th>
                <th>课程名称</th>
                <th>所属模块</th>
                <th>学分</th>
                <th>添加时间</th>
                <th>课程状态</th>
                <th class=" text-right">数据操作</th>
            </tr>
        </thead>
        <tbody class="section-items"></tbody>
    </table>
    <div class=" float-layout bc-clr-white padding-10px ">
        <label class=" InspageCount float-left">
            共 <span class="items-count">0</span> 个课程
        </label>
        <div class=" float-right">
            <button class=" btn-default btn btn-sm ">
                <span>第</span>
                <span class="show-page-Index">
                    1
                </span>
                <span>
                    /
                </span>
                <span class="show-page-Count">
                    12
                </span>
                <span>
                    页
                </span>
            </button>
            <button class="First btn btn-primary btn-sm"> <span class="glyphicon glyphicon-backward"></span>  首页</button>
            <button class="Previous btn btn-primary btn-sm"> <span class="glyphicon glyphicon-chevron-left"></span> 上一页</button>
            <button class="Next btn btn-primary btn-sm">下一页 <span class="glyphicon glyphicon-chevron-right"></span> </button>
            <button data-lastIndex="" class="Last btn btn-primary btn-sm">尾页 <span class="glyphicon glyphicon-forward"></span> </button>
            <select id="pageSkipNext" data-options="true" class=" margin-left-10px" data-height="27" data-width="45"></select>
            <button class="pageSkip btn btn-sm btn-primary">跳转</button>
        </div>
    </div>
</div>
<div class="modal fade " id="arrangeCource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-500 padding-top-10px text-info">安排课程学习</h4>
            </div>
            <div class="modal-body" data-min-height="400">
                <!-- 搜索栏 -->
                <div name="Search-content">
                    <div class="float-layout  padding-10px  border-little-grey-all">
                        <!-- 模块 -->
                        <span for="moduleId" class=" font-size-14 text-muted">资源属性：</span>
                        <select name="rType" id="rType" data-height="27" data-width="150" class="font-size-13 padding-left-5px ">
                            <option value="-1">-- 全部 --</option>
                            <option value="1">课程视频</option>
                            <option value="0">链接资源</option>
                        </select>
                        <span for="moduleId" class="margin-left-20px font-size-14 text-muted">状态:</span>
                        <select name="rStatus" id="rStatus" data-height="27" data-width="150" class="font-size-13 padding-left-5px ">
                            <option value="-1">-- 全部 --</option>
                            <option value="0">使用中</option>
                            <option value="1">未使用</option>
                        </select>
                        <button class="float-right  btn btn-sm btn-primary " id="search-resource">
                            <span class="glyphicon glyphicon-search"></span>
                            立即搜索
                        </button>
                    </div>
                    <div class="border-little-grey-all padding-10px margin-top-10px margin-bottom-15px table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>资源名称</th>
                                <th>资源类型</th>
                                <th>学习时长</th>
                                <th>状态</th>
                                <th class=" text-right">
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody id="resource-section"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">立即关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="program" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 font-size-14 padding-top-10px text-info">拼命加载数据中 <span id="val-speed"></span> </h4>
            </div>
            <div class="modal-body">
                <img src="~/Resources/animation/Pacman-0.5s-200px.svg" width="85" class="layout-center" />
                <p class=" text-left">
                    <span class=" glyphicon glyphicon-cloud-upload "></span>
                    <span id="data-info">疯狂拼命搬运数据中, 请勿中途关闭窗口........</span>
                </p>
            </div>
        </div>
    </div>
</div>
<script id="item-template" type="x-tmpl-mustache">
    {{#items}}
    <tr>
        <td>
            <label class="label label-primary">{{index}}</label>
        </td>
        <td>{{name}}</td>
        <td><label class="label label-primary">{{module.name}}</label></td>
        <td>{{credit}}</td>
        <td>
            <small>{{addTime}}</small>
        </td>
        <td>{{courceStatus}}</td>
        <td class=" text-right">
            <button class=" btn btn-default btn-sm  arrange-button" data-item-id="{{courceId}}">
                <span class="glyphicon glyphicon-calendar"></span> 安排课程
            </button>
            <button class=" btn btn-default btn-sm stopUse-button " data-item-id="{{courceId}}">
                <span class="glyphicon glyphicon-lock"></span>
                停用课程
            </button>
            <button class=" btn btn-default btn-sm continue-button " data-item-id="{{courceId}}">
                <span class=" glyphicon glyphicon-collapse-up "></span>
                使用课程
            </button>
            <button class=" btn btn-default btn-sm detail-button " data-item-id="{{courceId}}">
                <span class="glyphicon glyphicon-search"></span> 详情/修改
            </button>
            <button class=" btn btn-primary btn-sm delete-button " data-item-id="{{courceId}}">
                <span class="glyphicon glyphicon-remove"></span>
                删除
            </button>
        </td>
    </tr>
    {{/items}}
</script>
<div class="modal fade" id="delete-dialog" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-size-15 font-weight-600 padding-top-10px text-info">
                    <span class="glyphicon glyphicon-fire"></span>
                    删除提示
                </h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    你确定删除此课程吗？将同时删除课程的资源信息！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary">
                        <span class=" glyphicon glyphicon-trash "></span>
                        立即删除
                    </button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        <span class=" glyphicon glyphicon-bed "></span>
                        稍后处理
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="resource-template" type="x-tmpl-mustache">
    {{#items}}
    <tr>
        <td>{{index}}</td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{lengthOfStudy}}</td>
        <td>{{status}}</td>
        <td class=" text-right">
            <button class="function-stop btn btn-sm btn-primary" data-item-id="{{resourceId}}">
                <span class=" glyphicon glyphicon-ok-lock "></span> 停用资源
            </button>
            <button class="function-use btn btn-sm btn-primary" data-item-id="{{resourceId}}">
                <span class=" glyphicon glyphicon-ok-sign "></span> 使用资源
            </button>
        </td>
    </tr>
    {{/items}}
</script>
<div class="modal fade " id="cource-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 padding-top-10px text-info">课程详细信息</h4>
            </div>
            <div class="modal-body" data-min-height="300" id="cource-detail-gesture">

            </div>
            <div class="modal-footer">
                <button class=" btn btn-primary btn-sm " >
                    <span class="glyphicon glyphicon-hand-down"></span> 保存修改
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">立即关闭</button>
            </div>
        </div>
    </div>
</div>
<script id="cource-detail-template" type="x-tmpl-mustache">
    <div class="student-info-show">
        <div class="student-info-show-content padding-left-10px">
            <span class="student-info-show-title">课程名称</span>

            <span class="student-info-show-value border-light-down ">
                <input type="text" value="{{name}}" class=" border-radius-2 padding-left-10px" name="courceName"
                       style="width:400px; height:26px" data-item-id="{{cId}}" >
            </span>
        </div>
    </div>
    <div class="student-info-show">
        <div class="student-info-show-content padding-left-10px">
            <span class="student-info-show-title"> 所属模块</span>
            <span class="student-info-show-value border-light-down "> {{module.name}}</span>
        </div>
    </div>
    <div class="student-info-show">
        <div class="student-info-show-content padding-left-10px">
            <span class="student-info-show-title">课程状态</span>
            <span class="student-info-show-value border-light-down "> {{status}}</span>
        </div>
    </div>
    <div class="student-info-show">
        <div class="student-info-show-content padding-left-10px">
            <span class="student-info-show-title">添加时间</span>
            <span class="student-info-show-value border-light-down "> {{addTime}}</span>
        </div>
    </div>
    <div class="student-info-show">
        <div class="student-info-show-content padding-left-10px">
            <span class="student-info-show-title">资源简洁</span>
            <span class="student-info-show-value border-light-down "> {{introduction}}</span>
        </div>
    </div>
    
</script>
@section Scripts
{
    <script>
        (function loadModuleSelect() {
            $.ajax({
                url: "/Module/List",
                type: "post",
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    $("#ModuleId")
                        .append('<option value="-1">所有模块</option>');
                    for (var index in data) {
                        $("#ModuleId")
                            .append(`<option value="${data[index].moduleId}">${data[index].name}</option>`);
                    }
                    loadPageByIndex(1);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", errorThrown);
                }
            });
        })();

        function stateManager() {
            var pageIndex = parseInt($('.show-page-Index').text().trim()); //当前页
            var pageCount = parseInt($('.show-page-Count').text().trim()); //总共多少页
            if (pageIndex >= pageCount) {
                $('.Next').prop("disabled", true);
            } else {
                $('.Next').prop("disabled", false);
            }
            if (pageIndex == 1) {
                $('.Previous').prop("disabled", true);
            } else {
                $('.Previous').prop("disabled", false);
            }
        }

        function loadPageByIndex(index) {
            $.ajax({
                url: "/Cource/Page",
                type: "post",
                dataType: "json",
                data: {
                    index: index,
                    mId: $('#corporation select[name="ModuleId"]').val(),
                    status: $('#corporation select[name="ModuleStatus"]').val(),
                    content: $('#corporation input[name="KeyName"]').val()
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        if (json.items == null) {
                            $('.section-items').html("");
                        } else {
                            for (var i = 0; i < json.items.length; i++) {
                                json.items[i].index = (i + 1);
                            }

                            var template = $('#item-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('.section-items').html(result);
                        }

                        $('.items-count').text(json.lineCount); //总数
                        $('.show-page-Count').text(`${json.pageCount}`); //分页总数
                        $('.show-page-Index').text(`${json.pageNowIndex}`); //当前页
                        $('button[data-lastIndex]').attr("data-lastIndex", json.pageCount); //最后一页 的index

                        $('select[data-options] > option').remove();
                        for (let index_ = 0; index_ < json.pageCount; index_++) {
                            $('select[data-options]').append(`<option value="${index_ + 1}">${index_ + 1}</option>`);
                        }
                        $('select[data-options]').val(index);
                        stateManager();
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", `网络接连错误..${errorThrown}`);
                }
            });
        }

        $('.Next').click(function (jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) + 1);
        });

        $('.First').click(function (jqEvent) {
            loadPageByIndex(1);
        });

        $('.Previous').click(function (jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) - 1);
        });

        $('.Last').click(function (jqEvent) {
            loadPageByIndex($('button[data-lastIndex]').attr("data-lastIndex").trim());
        });

        $('button[data-skip]').click(function (jqEvent) {
            var pageIndex = parseInt($('.show-page-Index').text().trim());
            var skip = parseInt($('select[data-options]').val().trim());
            if (skip === pageIndex) {
                onMask("提示信息", "跳转页面为当前页面");
            } else {
                loadPageByIndex($('select[data-options]').val());
            }
        });

        $('#search-items').click(function (jqEvent) {
            loadPageByIndex(1);
        });

        $('.section-items').on('click',
            '.arrange-button',
            null,
            function (jqEvent) {
                var id = $(this).attr("data-item-id");

                $('#search-resource').attr("data-item-id", id);

                $.ajax({
                    url: "/Resource/List",
                    type: "post",
                    dataType: "json",
                    data: {
                        cId: id,
                        type: -1,
                        status: -1
                    },
                    success: function (json, textStatus, jqXhr) {
                        if (json.isOk) {

                            for (var i = 0; i < json.items.length; i++) {
                                json.items[i].index = (i + 1);
                            }

                            var template = $('#resource-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('#resource-section').html(result);
                            $('#arrangeCource').modal('show');
                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", "网络接连错误..");
                    }
                });
            });

        $('.section-items').on('click', '.detail-button', null, function(jqEvent){
            var id = $(this).attr("data-item-id");

            $.ajax({
                url: "/Cource/Item",
                type: "post",
                dataType: "json",
                data: {
                    itemId: id
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {

                        var template = $('#cource-detail-template').html();
                        Mustache.parse(template);
                        var result = Mustache.render(template, json.item);
                        $('#cource-detail-gesture').html(result);

                        $('#cource-detail').modal('show');
                    } else {
                        onMask(json.title, json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        });

        $('.section-items').on('click', '.stopUse-button', null, function(jqEvent){
            $('#program').modal('show');
            var id = $(this).attr("data-item-id");
            
            $.ajax({
                url: "/Cource/Stop",
                type: "post",
                dataType: "json",
                data: {
                    cId: id
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        loadPageByIndex(1);
                        $('#program').modal('hide');
                    } else {
                        onMask(json.title, json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        });

        $('.section-items').on('click', '.continue-button', null, function (jqEvent) {
            $('#program').modal('show');
            var id = $(this).attr("data-item-id");
            
            $.ajax({
                url: "/Cource/Use",
                type: "post",
                dataType: "json",
                data: {
                    cId: id
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        $('#program').modal('hide');
                        loadPageByIndex(1);
                    } else {
                        onMask(json.title, json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        });

        $('.section-items').on('click', '.delete-button', null, function (jqEvent) {
            $('#delete-dialog button:eq(1)').attr("data-item-id", $(this).attr("data-item-id"));
            $('#delete-dialog').modal('show');
        });

        $('#delete-dialog button:eq(1)').click(function(jqEvent) {
            var id = $(this).attr('data-item-id');
            $.ajax({
                url: "/Cource/Delete",
                type: "post",
                dataType: "json",
                data: {
                    cId: id
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        onMask(json.title, json.message);
                        loadPageByIndex(1);
                    } else {
                        onMask(json.title, json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        });

        $('#cource-detail button:eq(1)').click(function (jqEvent) {
            var _name = $('#cource-detail input[name="courceName"]').val();
            if ( _name == null|| _name == "") {
                onMask("消息提示", "请填写课程名称");
                return;
            }
            var _id = $('#cource-detail input[name="courceName"]').attr('data-item-id');

            console.log(_name,_id);

            $.ajax({
                url: "/Cource/Update",
                type: "post",
                dataType: "json",
                data: {
                    cId: _id,
                    name:_name
                },
                success: function (json) {
                    console.log(json);
                    onMask(json.title, json.message);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", `网络接连错误.. ${errorThrown}`);
                }
            });
        });
        
        $('#search-resource').click(function (jqEvent) {
            LoadResource();
        });

        function LoadResource() {
            $.ajax({
                url: "/Resource/List",
                type: "post",
                dataType: "json",
                data: {
                    cId: $('#search-resource').attr("data-item-id"),
                    type: $('#rType').val(),
                    status: $('#rStatus').val()
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {

                        for (var i = 0; i < json.items.length; i++) {
                            json.items[i].index = (i + 1);
                        }

                        var template = $('#resource-template').html();
                        Mustache.parse(template);
                        var result = Mustache.render(template, json);
                        $('#resource-section').html(result);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        }

        $('#resource-section').on('click',
            ".function-stop",
            null,
            function (jqEvent) {
                var id = $(this).attr("data-item-id");

                $.ajax({
                    url: "/Resource/Stop",
                    type: "post",
                    dataType: "json",
                    data: {
                        rId: id
                    },
                    success: function (json) {
                        console.log(json);
                        LoadResource();
                        onMask(json.title, json.message);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", `网络接连错误.. ${errorThrown}`);
                    }
                });
            });

        $('#resource-section').on('click',
            ".function-use",
            null,
            function (jqEvent) {
                var id = $(this).attr("data-item-id");

                $.ajax({
                    url: "/Resource/Use",
                    type: "post",
                    dataType: "json",
                    data: {
                        rId: id
                    },
                    success: function (json) {
                        console.log(json);
                        LoadResource();
                        onMask(json.title, json.message);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", `网络接连错误.. ${errorThrown}`);
                    }
                });
            });

        function UseAll() {
            $('#program').modal('show');
            $.ajax({
                url: "/Cource/All",
                type: "post",
                dataType: "json",
                data: {
                    mId: $('#corporation select[name="ModuleId"]').val(),
                    status: $('#corporation select[name="ModuleStatus"]').val(),
                    content: $('#corporation input[name="KeyName"]').val()
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        loadPageByIndex(1);
                        $('#program').modal('hide');
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", `网络接连错误..${errorThrown}`);
                }
            });
        }

        function NotUseAll() {
            $('#program').modal('show');
            $.ajax({
                url: "/Cource/Not",
                type: "post",
                dataType: "json",
                data: {
                    mId: $('#corporation select[name="ModuleId"]').val(),
                    status: $('#corporation select[name="ModuleStatus"]').val(),
                    content: $('#corporation input[name="KeyName"]').val()
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        loadPageByIndex(1);
                        $('#program').modal('hide');
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", `网络接连错误..${errorThrown}`);
                }
            });
        }

        function Clear() {
            $('#corporation select[name="ModuleId"]').val(-1);
            $('#corporation select[name="ModuleStatus"]').val(-1);
            $('#corporation input[name="KeyName"]').val("");
        }
    </script>
}
