
@{
    ViewData["Title"] = "实验室安全教育在线-登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}    
<script src="~/js/fui.min.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> <!-- 搜狐 地址和IP 信息查询接口 -->
<nav class="narbar-mobile-fui navbar navbar-default navbar-fixed-top   bc-clr-white" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="MobileIndex" >
                <span class=" text-primary font-weight-700">SICNU 实验室安全教育</span></a>
        </div>
        <div class="collapse navbar-collapse " id="example-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a asp-controller="Home" asp-action="MobileAnnouncement"> <span class=" text-primary font-weight-500 ">系统公告</span> </a></li>
                <li role="presentation"><a asp-controller="Home" asp-action="MobileHelp"><span class=" text-primary font-weight-500 ">使用帮助</span></a></li>
                <li role="presentation"><a asp-controller="Account" asp-action="Apply"><span class=" text-primary font-weight-500 ">申请加入考试</span></a></li>
                <li role="presentation"><a asp-controller="Account" asp-action="Alter"><span class=" text-primary font-weight-500 ">密码修改</span></a></li>
                <li role="presentation"><a asp-controller="Account" asp-action="Login"><span class=" text-primary font-weight-500 ">用户登录</span></a></li>
                <li role="presentation"><a asp-controller="Account" asp-action="LoginOut"><span class=" text-primary font-weight-500 ">退出用户</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class=" container" data-min-height="900">
    <div class=" margin-top-15px padding-15px bc-clr-white border-little-grey-all " data-min-height="70">
        <h4 class=" border-light-down padding-bottom-5px text-primary ">用户登录</h4>
        <form id="loginFrom" asp-controller="Account" asp-action="Login" class="form-horizontal margin-top-20px" role="form" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="UserId" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-max-width="400" id="UserId" name="UserId"
                           placeholder="请输入你的账号">
                </div>
            </div>
            <div class="form-group">
                <label for="UserPassword" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" data-max-width="400" id="UserPassword" name="UserPassword"
                           placeholder="请输入你的密码">
                </div>
            </div>
            <div class="form-group ">
                <label for="Validation" class="col-sm-2 control-label">验证码</label>
                <div class="col-sm-10">
                    <input id="num1" type="text" value="5" class="border-radius-14 text-center" data-max-width="35" disabled
                           data-height="25">
                    <span class=" font-weight-700 "> + </span>
                    <input id="num2" type="text" value="5" class=" border-radius-14 text-center" data-max-width="35" disabled
                           data-height="25">
                    <span class=" font-weight-700 padding-left-10px "> = </span>
                    <input id="num3" type="number" value="" name="yzm" class="text-center border-radius-6 " data-width="80"
                           data-height="28">
                    <button type="button" id="ApplyNew" class="margin-left-10px btn btn-primary btn-sm "> <span class="
                            glyphicon glyphicon-hand-down"></span> 刷新</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary form-control letter-space-1" data-max-width="400">
                        <span class=" glyphicon glyphicon-log-in "></span> 立即登录
                    </button>
                </div>
            </div>
        </form>
        
        <div class=" margin-top-60px padding-10px">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><span class="glyphicon glyphicon-user"></span> 技术支持人员：</strong>
                <b>@ViewBag.StaffName</b>   
                联系电话:@ViewBag.StaffPhone
                QQ:@ViewBag.StaffQQ
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $('body').removeClass("bc-clr-grey-little");
        $('body').addClass("bc-clr-primary");

        function getRandom() {
            var rand = Math.round(Math.random() * 20);
            var rand2 = Math.round(Math.random() * 20);
            $('#num1').val(rand);
            $('#num2').val(rand2);
        }

        getRandom();
        $(function() {
            $('#ApplyNew').on('click', null, null, getRandom);
        });
        $(function() {
            $("form").validate({
                //错误提示信息
                messages: {
                    UserId: {
                        required: "请填写你的账号", //此方法在username控件上的所有验证规则提示都是设置的这个字符串
                        rangelength: "学号长度{0}到{1}之间"
                    },
                    UserPassword: {
                        required: "密码不填写吗？"
                    }
                },
                //验证规则
                rules: {
                    //使用空间 name 名称
                    UserId: {
                        required: true,
                        rangelength: [5, 20]
                    },
                    UserPassword: {
                        required: true,
                    }
                },
                errorClass: "text-warning",
                submitHandler: function(form) {
                    var $num1 = parseInt($('#num1').val());
                    var $num2 = parseInt($('#num2').val());
                    var result = $num1 + $num2;
                    var $num3 = $('#num3').val();

                    if ($num3 == "" || $num3 == null) {
                        onMask("温馨提示", "请回答这种小学生题目！");
                        return;
                    }
                    if (result == parseInt($num3)) {
                        var os = window.f.Terminal();
                        var xqXHR = $.post("/Account/Log",
                            {
                                terminal: os.isPc === true ? 2 : (os.isTablet === true ? 1 : 0),
                                uId: $("#UserId").val()
                            });

                        $.ajax({
                            url: "/Account/Login",
                            type: "post",
                            dataType: "json",
                            data: {
                                userId: $('#UserId').val(),
                                userPassword: $('#UserPassword').val(),
                                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                            },
                            success: function (data, textStatus, jqXHR) {

                                console.log(data);

                                if (data.isOk) {
                                    window.location.href = data.url;
                                } else {
                                    onMask("温馨提示", data.message);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(jqXHR);
                                console.log(textStatus);
                                onMask("温馨提示", `账号认证错误--当前服务器过于拥挤！！或者网络连接失败...${errorThrown}`);
                            }
                        });
                    } else {
                        onMask("温馨提示", "小学生的题目都不会！ 你还是一个大学生");
                    }
                }
            });
        });
    </script>
}
