@{
    ViewData["Title"] = "实验室安全教育在线-年度统计";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<div class="admin-searach">
    <div id="Search-condition" class=" bc-clr-white margin-5px  padding-15px border-little-grey-all"
         data-min-width="1250">
        <div class="float-layout">
            <span class="margin-left-20px font-size-14 text-muted">年级：</span>
            <select name="studentGrade" id="studentGrade" data-height="24" data-width="100"
                    class="font-size-14 font-weight-400 padding-left-5px "></select>
            <span for="orderOne" class="margin-left-20px font-size-14 text-muted">排序方式：</span>
            <select id="orderOne" name="orderOne" data-height="26" data-width="150" class="font-size-12 padding-left-5px ">
                <option value="0"> 总通过率 </option>
                <option value="1"> 研究生通过率</option>
                <option value="-1"> 本科生通过率</option>
            </select>
            <button class="margin-left-20px btn btn-sm btn-primary" id="InsertExcel">
                <span class="glyphicon glyphicon-plus-sign"></span>
                导出 Excel
            </button>
            <a href="#" class="sr-only btn btn-sm btn-info" id="download-link"> <span class="glyphicon glyphicon-circle-arrow-down"></span> 点击下载</a>
            <button id="searchInstitute" class="float-right  btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-search"></span>
                立即搜索
            </button>
        </div>
    </div>
</div>
<div class=" bc-clr-white margin-5px  padding-15px border-little-grey-all" data-min-width="1250">
    <table class="table table-hover" id="student-list">
        <thead>
            <tr>
                <th>编号</th>
                <th>年级</th>
                <th>总人数</th>
                <th>总通过人数</th>
                <th>研究生</th>
                <th>本科生</th>
                <th>研究生通过</th>
                <th>本科生通过</th>
                <th>总通过率</th>
                <th>研究生通过率</th>
                <th>本科生通过率</th>
            </tr>
        </thead>
        <tbody class="section-items">
            
        </tbody>
    </table>
    <div class=" float-layout ">
        <label class=" float-left">
            共 <span class="items-count">0</span> 个信息
        </label>
        <div class=" float-right">
            <a href="#" class=" btn-default btn btn-sm ">
                <span>第</span>
                <span class="show-page-Index">
                    1
                </span>
                <span>
                    /
                </span>
                <span class="show-page-Count">
                    12
                </span>
                <span>
                    页
                </span>
            </a>
            <button class="First btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-backward"></span>
                首页
            </button>
            <button class="Previous btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-chevron-left"></span>
                上一页
            </button>
            <button class="Next btn btn-primary btn-sm">
                下一页 <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button class="Last btn btn-primary btn-sm" data-lastIndex="1">
                尾页 <span class="glyphicon glyphicon-forward"></span>
            </button>
            <select data-options="true" class=" margin-left-10px text-center" data-height="27" data-width="45"></select>
            <button data-skip="true" class="btn btn-sm btn-primary">跳转</button>
        </div>
    </div>
</div>
<script id="item-template" type="x-tmpl-mustache">
    {{#items}}
    <tr>
        <td>
            <label class="label label-primary">{{index}}</label>
        </td>
        <td>
            {{grade}}
        </td>
        <td>
            {{total}}
        </td>
        <td>
            {{passTotal}}
        </td>
        <td>
            {{postCount}}
        </td>
        <td>
            {{underCount}}
        </td>
        <td>
            {{postPassCount}}
        </td>
        <td>
            {{underPassCount}}
        </td>
        <td>
            {{passTotleRate}}%
        </td>
        <td>
            {{postPassRate}}%
        </td>
        <td>
            {{underPassRate}}%
        </td>
    </tr>
    {{/items}}
</script>
@section Scripts
    {
    <script>
        (function loadInstitute() {
             $.ajax({
            url: "/Institute/List",
            type: "post",
            dataType: "json",
            success: function(data, textStatus, jqXHR) {
                $("#InstituteId")
                    .append('<option value="-1">-- 所有学院 --</option>');
                for (var index in data) {
                    $("#InstituteId")
                        .append(`<option value="${data[index].instituteId}">${data[index].name}</option>`);
                }
                LoadYear();
                loadPageByIndex(1);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                onMask("错误", errorThrown);
            }
        });
        })();

        $('#InstituteId').change(function(jqEvent) {
            loadPageByIndex(1);
        });

        function LoadYear() {
            var yearNow = new Date().getFullYear();

            $("#studentGrade").append('<option value="-1">所有年级</option>');
            for (var index = yearNow; index > 2015; index--) {
                $("#studentGrade")
                    .append(`<option value="${index}">${index}</option>`);
            }
        }

        function stateManager() {
            var pageIndex = parseInt($('.show-page-Index').text().trim()); //当前页
            var pageCount = parseInt($('.show-page-Count').text().trim()); //总共多少页
            if (pageIndex >= pageCount) {
                $('.Next').prop("disabled", true);
            } else {
                $('.Next').prop("disabled", false);
            }
            if (pageIndex == 1) {
                $('.Previous').prop("disabled", true);
            } else {
                $('.Previous').prop("disabled", false);
            }
        }

        function loadPageByIndex(index) {
            $.ajax({
                url: "/Statistics/GPage",
                type: "post",
                dataType: "json",
                data: {
                    index: index,
                    grade: $('#studentGrade').val(),
                    orderOne: $('#orderOne').val()
                },
                success: function (json, textStatus, jqXhr) {
                    console.log(json);
                    if (json.isOk) {
                        if (json.items == null) {
                            $('.section-items').html("");
                        }
                        else
                        {
                            var inCre = json.size * (index - 1);
                            for (var i = 0; i < json.items.length; i++) {
                                json.items[i].index = (i + 1 + inCre);
                            }

                            var template = $('#item-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('.section-items').html(result);
                        }

                        $('.items-count').text(json.lineCount); //学院总数
                        $('.show-page-Count').text(`${json.pageCount}`); //分页总数
                        $('.show-page-Index').text(`${json.pageNowIndex}`); //当前页
                        $('button[data-lastIndex]').attr("data-lastIndex", json.pageCount); //最后一页 的index


                        $('select[data-options] > option').remove();

                        for (let index_ = 0; index_ < json.pageCount; index_++) {
                            $('select[data-options]').append(`<option value="${index_ + 1}">${index_ + 1}</option>`);
                        }

                        $('select[data-options]').val(index);

                        stateManager();
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        }

        $('.Next').click(function(jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) + 1);
        });

        $('.First').click(function(jqEvent) {
            loadPageByIndex(1);
        });

        $('.Previous').click(function(jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) - 1);
        });

        $('.Last').click(function(jqEvent) {
            loadPageByIndex($('button[data-lastIndex]').attr("data-lastIndex").trim());
        });

        $('button[data-skip]').click(function(jqEvent) {
            var pageIndex = parseInt($('.show-page-Index').text().trim());
            var skip = parseInt($('select[data-options]').val().trim());
            if (skip === pageIndex) {
                onMask("提示信息", "跳转页面为当前页面");
            } else {
                loadPageByIndex($('select[data-options]').val());
            }
        });

        $('#searchInstitute').click(function(jqEvent) {
            loadPageByIndex(1);
        });

        $('#InsertExcel').click(function(jqEvent) {
            $.ajax({
                url: "/Excel/Grade",
                type: "post",
                dataType: "json",
                data: {
                    grade: $('#studentGrade').val(),
                    orderOne: $('#orderOne').val()
                },
                success: function (json, textStatus, jqXhr) {
                    if (json.isOk) {
                        onMask("消息提示", "加载完成");
                        $('#download-link').attr("href", json.url);
                        $('#download-link').removeClass('sr-only');
                    } else {
                        onMask(json.title, json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        });
    </script>
}
