<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/fui.min.css" />
    <link rel="stylesheet" href="../css/fui-animation.min.css" />
    <link rel="icon" href="../Resources/system/icon/icon.png" />
    <title>实验室安全教育在线-首页</title>
</head>

<body class=" bc-clr-grey-little">
    <div class=" bc-clr-white border-little-grey-all">
        <div class=" padding-15px container flex-layout  ">
            <div class=" flex-item-4 text-one-line-ellipsis  " data-line-height="250%" >
                <span class="text-primary  font-size-20 font-weight-700">
                    SICNU 实验室安全教育
                </span>
                <small class=" text-muted font-size-13  ">四川师范大学实验室安全教育在线</small>
            </div>
            <div class=" flex-item-7 text-right float  ">
                <ul class="nav nav-pills float-right ">
                    <li role="presentation"><a href="#">系统公告</a></li>
                    <li role="presentation"><a href="#">使用帮助</a></li>
                    <li role="presentation"><a href="#">申请加入考试</a></li>
                    <li role="presentation"><a href="#">密码修改</a></li>
                    <li role="presentation" class="dropdown  ">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            登录/退出
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=" padding-top-5px">
                                <a href="./Login.html" class=" letter-space-2  hover-text-center font-size-13"> <span
                                        class="glyphicon glyphicon-log-in"></span>
                                    登录 </a>
                            </li>
                            <li class=" padding-top-5px">
                                <a href="./Person.html" class=" letter-space-1  hover-text-center font-size-13"><span
                                        class="glyphicon glyphicon-home"></span>
                                    学生中心 </a>
                            </li>
                            <li class=" padding-top-5px">
                                <a href="./LoginError.html" class=" letter-space-1  hover-text-center font-size-13 ">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    退出登陆
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class=" padding-5px  margin-top-5px bc-clr-white  border-little-grey-all">
        <div class="jumbotron border-light-down bc-clr-primary margin-bottom-5px"    data-min-height="350">
            <h2 class=" margin-top-65px text-center font-color-white">四川师范大学实验室安全教育与考试在线</h2>
            <p class="text-center font-weight-400 font-size-17 font-color-white loop-text first-letter-light">!落实安全规章制度,强化安全防范措施</p>
            <p class=" text-center ">
                <a class="btn btn-default " href="./Questionnaire.html" role="button"> <span class="glyphicon glyphicon-zoom-in"></span>
                    立即开始学习</a>
            </p>
        </div>
    </div>
    <div class="border-light-down  bc-clr-white">
        <div class="  padding-top-20px font-size-15 text-muted padding-bottom-30px  text-center ">
            <span class=" text-primary font-size-20 font-weight-700  ">请</span> 各位同学按照 <span class=" border-light-down  font-weight-700 text-primary font-color-blue-light">学校相关规则</span>
            按时完成学习任务,通过四川师范大学实验室安全考试 <br />
        </div>
    </div>
    <div class=" container">
        <h3 class=" text-center margin-top-40px">
            实验室安全教育在线
        </h3>
    </div>
    <div class=" container-fluid margin-top-5px">
        <div class=" container  " data-min-height="600">
            <div class="row">
                <div class=" col-md-4 col-sm-6 margin-top-5px">
                    <div class="padding-10px  bc-clr-white border-little-grey-all hover-box-shadow">
                        <img src="../Resources/product/电脑.png" width="80px" class=" center margin-top-25px " alt=""
                            srcset="">
                        <div>
                            <h4 class=" margin-top-30px text-center">在线考试</h4>
                            <div class=" text-center text-muted padding-20px font-size-16">
                                学生可以通过手机或者电脑参与实验室安全教育学习和考试
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-sm-6 margin-top-5px">

                    <div class="padding-10px  bc-clr-white border-little-grey-all  hover-box-shadow">
                        <a href="/main/alter" target="_black">
                            <img src="../Resources/product/设置.png" width="80px" class=" center margin-top-25px ">
                        </a>
                        <div>
                            <a href="/main/alter">
                                <h4 class=" margin-top-30px text-center">密码修改</h4>
                            </a>
                            <div class="text-center text-muted padding-20px font-size-16 ">
                                学生可以更具自己是身份证号修改密码,系统默认密码是身份证后六位
                            </div>
                        </div>
                    </div>


                </div>
                <div class=" col-md-4 col-sm-6 margin-top-5px">
                    <div class="padding-10px  bc-clr-white border-little-grey-all  hover-box-shadow">
                        <img src="../Resources/product/安全.png" width="80px" class=" center margin-top-25px " alt=""
                            srcset="">
                        <div>
                            <h4 class=" margin-top-30px text-center">后台监控</h4>
                            <div class="text-center text-muted padding-20px font-size-16 ">
                                学生考试行为后台监控,请仔细学习,完成各项学习任务！
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-sm-6 margin-top-15px">
                    <div class="padding-10px  bc-clr-white border-little-grey-all  hover-box-shadow">
                        <img src="../Resources/product/问卷调查.png" width="80px" class=" center margin-top-25px " alt=""
                            srcset="">
                        <div>
                            <h4 class=" margin-top-30px text-center">试卷随机</h4>
                            <div class="text-center text-muted padding-20px font-size-16 ">
                                具有三种题型,单选,多选和判断,随机出题,达到要求线则及格
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-sm-6 margin-top-15px">
                    <div class="padding-10px  bc-clr-white border-little-grey-all  hover-box-shadow">
                        <img src="../Resources/product/数据集成.png" width="80px" class=" center margin-top-25px " alt=""
                            srcset="">
                        <div>
                            <h4 class=" margin-top-30px text-center">系统公告</h4>
                            <div class="text-center text-muted padding-20px font-size-16 ">
                                考试规划和考试说明,都在系统公告中明确指出,请相关人员仔细阅读
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-sm-6 margin-top-15px">
                    <div class="padding-10px  bc-clr-white border-little-grey-all  hover-box-shadow">
                        <img src="../Resources/product/数据.png" width="80px" class=" center margin-top-25px " alt=""
                            srcset="">
                        <div>
                            <h4 class=" margin-top-30px text-center">使用帮助</h4>
                            <div class="text-center text-muted padding-20px font-size-16 ">
                                实验室安全教育系统使用说明和常见问题解决方法
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" margin-top-10px  bc-clr-white">
        <div class=" container padding-10px">
            <div class=" row">
                <div class=" col-md-3 col-sm-6 ">
                    <h5 class=" font-weight-700  ">友情链接</h5>
                    <ul class=" list-unstyled font-size-12">
                        <li class=" margin-top-10px"><a href="http://www.sicnu.edu.cn/">四川师范大学官网</a> </li>
                        <li class=" margin-top-10px"><a href="http://jwc.sicnu.edu.cn/">四川师范大学教务处</a></li>
                        <li class=" margin-top-10px"><a href="http://cs.sicnu.edu.cn/">计算机科学学院</a></li>
                        <li class=" margin-top-10px"><a href="http://lab.sicnu.edu.cn/(S(jourhqdodq5e0ahxmizkendj))/index.aspx">实验室与设备厂</a></li>
                        <li class=" margin-top-10px"><a href="http://lab.sicnu.edu.cn/(S(jourhqdodq5e0ahxmizkendj))/login.aspx">综合管理处系统</a></li>
                        <li class=" margin-top-10px"><a href="http://yjsc.sicnu.edu.cn/">研究生学院</a></li>
                        <li class=" margin-top-10px"><a href="http://chem.sicnu.edu.cn/">化学与材料科学学院</a></li>
                        

                    </ul>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h5 class=" font-weight-700 ">数据公开</h5>
                    <ul class=" list-unstyled font-size-12">
                        <li class=" margin-top-10px"><a href="#">公开接口</a> </li>
                        <li class=" margin-top-10px"><a href="#">公开数据可视化</a></li>
                    </ul>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h5 class=" font-weight-700 ">使用链接</h5>
                    <ul class=" list-unstyled font-size-12">
                        <li class=" margin-top-10px">
                            <a href="#" class=" btn btn-sm btn-primary">立即进入学生系统</a>
                        </li>
                        <li class=" margin-top-10px">
                            <a href="#" class=" btn btn-sm btn-primary">考试入口</a>
                        </li>
                        <li class=" margin-top-10px">
                            <a href="#" class=" btn btn-sm btn-primary">管理入口</a>
                        </li>
                        <li class=" margin-top-10px">
                            <a href="#" class=" btn btn-sm btn-primary">意见反馈</a>
                        </li>
                    </ul>
                </div>
                <div class=" col-md-3 col-sm-6 float">
                    <h5 class=" font-weight-700 padding-left-10px  ">二维码扫一扫</h5>
                    <img src="../Resources/product/二维码-lan.png" width="140px" class="  img-thumbnail">
                </div>
            </div>
        </div>
    </div>
    <div class=" margin-top-5px ">
        <div class=" bc-clr-white text-center  padding-10px">
            <a class=" font-weight-600 font-size-12 " href="#">Server Right 2019-2021 Support by 505 mobile lab</a>
            <a class=" font-weight-600 font-size-12 " href="#">四川师范大学 实验设备处 维护运行 </a>
            <a href="#" class="font-weight-600 font-size-12"> <span class="glyphicon glyphicon-search"></span> </a>
        </div>
    </div>
</body>
<script src="../js/app.min.js"></script>
<script src="../js/animation.min.js"></script>

</html>