
@{
    ViewData["Title"] = "实验室安全教育在线-多选题题库";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<script src="~/lib/validation/jquery.validate.min.js"></script>
<script src="~/lib/validation/additional-methods.min.js"></script>
<script src="~/lib/validation/messages_zh.js"></script>
<div class=" margin-5px bc-clr-white  padding-10px border-little-grey-all " data-height-all>
    <div id="tablist-hover">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#InstituteList" aria-controls="home" role="tab" data-toggle="tab">
                    多选题列表
                </a>
            </li>
            <li role="presentation">
                <a href="#addInstitute" aria-controls="profile" role="tab"
                   data-toggle="tab">添加多选题</a>
            </li>
            <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                    多择题题库统计
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="InstituteList">
                <div id="corporation" class="bc-clr-white margin-bottom-10px margin-top-10px padding-10px float-layout">
                    <label class=" font-size-13 font-weight-500 ">所属模块:</label>
                    <select name="SerModuleId" id="SerModuleId" class=" padding-left-10px select-layout"
                            data-width="200" data-height="27"></select>
                    <label class=" font-size-13 font-weight-500 ">上传管理员编号:</label>
                    <input id="SerPrincipalId" name="SerPrincipalId" value="" class=" padding-left-10px" data-width="180" data-height="25" />
                    <label class=" font-size-13 font-weight-500 ">题干:</label>
                    <input id="SerContent" name="SerContent" value="" class=" padding-left-10px" data-width="180" data-height="25" />
                    <button id="search-items" class="float-right btn btn-primary btn-sm margin-left-10px">
                        <span class="glyphicon glyphicon-search"></span>
                        立即查询
                    </button>
                </div>
                <div class="table-responsive bc-clr-white">
                    <table class="table table-hover" data-min-width="700">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>所属模块</th>
                                <th>题目内容</th>
                                <th>添加人员编码</th>
                                <th>选项数量</th>
                                <th>添加时间</th>
                                <th>题目类型</th>
                                <th>难度</th>
                                <th class=" text-right">
                                    题目操作
                                </th>
                            </tr>
                        </thead>
                        <tbody class="section-items"></tbody>
                    </table>
                </div>
                <div class=" float-layout bc-clr-white padding-10px ">
                    <label class=" InspageCount float-left">
                        共 <span class="items-count">0</span> 个题目
                    </label>
                    <div class=" float-right">
                        <button class=" btn-default btn btn-sm ">
                            <span>第</span>
                            <span class="show-page-Index">
                                1
                            </span>
                            <span>
                                /
                            </span>
                            <span class="show-page-Count">
                                12
                            </span>
                            <span>
                                页
                            </span>
                        </button>
                        <button class="First btn btn-primary btn-sm"> <span class="glyphicon glyphicon-backward"></span>  首页</button>
                        <button class="Previous btn btn-primary btn-sm"> <span class="glyphicon glyphicon-chevron-left"></span> 上一页</button>
                        <button class="Next btn btn-primary btn-sm">下一页 <span class="glyphicon glyphicon-chevron-right"></span> </button>
                        <button data-lastIndex="" class="Last btn btn-primary btn-sm">尾页 <span class="glyphicon glyphicon-forward"></span> </button>
                        <select id="pageSkipNext" data-options="true" class=" margin-left-10px" data-height="27" data-width="45"></select>
                        <button  data-skip class=" btn btn-sm btn-primary">跳转</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="addInstitute">
                <form id="add-form" role="form" class=" form-horizontal layout-center margin-top-5px " data-width="800">
                    <div class="form-group">
                        <label for="Content" class="control-label">题目题干:</label>
                        <textarea class="form-control" id="Content" name="Content"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Answer" class="control-label">题目答案:</label>
                        <input type="text" class=" border-radius-4 margin-left-10px padding-left-10px"
                               value=""
                               id="Answer" name="Answer" data-max-width="120">
                        <label for="ModuleId">所属模块:</label>
                        <select name="ModuleId" id="ModuleId" class=" border-radius-4 padding-left-10px select-layout" data-height="27"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span class=" glyphicon glyphicon-ok-sign "></span>
                            选项数量:
                        </label>
                        <input type="number" class=" border-radius-4 margin-left-10px padding-left-10px"
                               value="4"
                               id="Count" name="Count" data-max-width="120">
                    </div>
                    <div class="form-group border-light-down font-weight-600">
                        <span class="glyphicon glyphicon-signal text-primary"></span> 选项列表:
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">
                            A：
                        </label>
                        <div class="col-sm-11">
                            <input type="text" required class="form-control"
                                   id="A" name="A"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">
                            B：
                        </label>
                        <div class="col-sm-11">
                            <input type="text" required class="form-control"
                                   id="B" name="B"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">
                            C：
                        </label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control"
                                   id="C" name="C"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">
                            D：
                        </label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control"
                                   id="D" name="D"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">
                            E：
                        </label>
                        <div class="col-sm-11">
                            <input type="text" min="20" class="form-control"
                                   id="E" name="E"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">
                            F：
                        </label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control"
                                   id="F" name="F"
                                   placeholder="">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">立即提交</button>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">

            </div>
        </div>
    </div>
</div>


<script id="item-template" type="x-tmpl-mustache">
    {{#items}}
    <tr>
        <td><label class="label label-primary">{{index}}</label></td>
        <td><label class="label label-primary">{{module.name}}</label></td>
        <td class="item-content" width="400"><small>{{content}}</small> </td>
        <td>{{principalId}}</td>
        <td>{{count}}</td>
        <td><small>{{addTime}}</small></td>
        <td>多选题</td>
        <th>{{degreeOfDifficulty}}</th>
        <td class=" text-right ">
            <button class="delete-dialog btn btn-primary btn-sm" data-item-id="{{multipleId}}">
                <span class="glyphicon glyphicon-remove"></span>
                删除
            </button>
            <button class=" detail-dialog btn btn-default btn-sm" data-item-id="{{multipleId}}">
                <span class="glyphicon glyphicon-search"></span>
                详情/修改
            </button>
        </td>
    </tr>
    {{/items}}
</script>
<script id="form-template" type="x-tmpl-mustache">
    <div class="form-group">
        <label for="Content" class="control-label">题目题干:</label>
        <textarea class="form-control" name="Content">{{content}}</textarea>
    </div>
    <div class="form-group">
        <label for="Answer" class="control-label">题目答案:</label>
        <input type="text" class=" border-radius-4 margin-left-10px padding-left-10px" value="{{answer}}" name="Answer"
               data-max-width="120">
        <label for="ModuleId">所属模块:</label>
        <select name="ModuleId" class=" border-radius-4 padding-left-10px select-layout" data-height="27">
            <option value="{{module.moduleId}}">{{module.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">
            <span class=" glyphicon glyphicon-ok-sign "></span>
            选项数量:
        </label>
        <input type="number" class=" border-radius-4 margin-left-10px padding-left-10px" value="{{count}}" name="Count"
               data-max-width="120">
        <input type="text" class="sr-only" value="{{multipleId}}" name="MultipleId" data-max-width="120">
    </div>
    <div class="form-group border-light-down font-weight-600">
        <span class="glyphicon glyphicon-signal text-primary"></span> 选项列表:
    </div>
    <div class="form-group">
        <label class=" control-label">
            题目选项A：
        </label>
        <input type="text" required class="form-control" name="A" value="{{a}}">
    </div>
    <div class="form-group">
        <label class=" control-label">
            题目选项B：
        </label>
        <input type="text" required class="form-control" name="B" value="{{b}}">
    </div>
    <div class="form-group margin-top-15px">
        <label class="control-label">
            题目选项C：
        </label>
        <input type="text" class="form-control" name="C" value="{{c}}">
    </div>
    <div class="form-group">
        <label class="control-label">
            题目选项D：
        </label>
        <input type="text" class="form-control" name="D" value="{{d}}">
    </div>
    <div class="form-group">
        <label class="control-label">题目选项E：</label>
        <input type="text" min="20" class="form-control" name="E" value="{{e}}" placeholder="">

    </div>
    <div class="form-group">
        <label class="control-label">题目选项:F</label>
        <input type="text" class="form-control" name="F" value="{{f}}">
    </div>
    <button type="submit" class=" btn btn-primary form-control">立即提交</button>
</script>
<div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-weight-600 font-size-15 padding-top-10px text-primary" id="myModalLabel">删除提示</h4>
            </div>
            <div class="modal-body">
                <p class=" text-primary font-size-14">
                    你确定要删除此题目吗
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="deleteButton">
                    <span class=" glyphicon glyphicon-trash "></span>
                    立即删除
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <span class=" glyphicon glyphicon-folder-close "></span>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detail-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-size-14 font-weight-600 padding-top-10px text-primary">
                    <span class=" glyphicon glyphicon-comment "></span>
                    题目信息
                </h4>
            </div>
            <div class="modal-body">
                <form class="update-form"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <span class=" glyphicon glyphicon-trash "></span>
                    立即关闭
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        (function loadModuleSelect() {
            $.ajax({
                url: "/Module/List",
                type: "post",
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    $("#SerModuleId")
                        .append('<option value="-1">所有模块</option>');
                    for (var index in data) {
                        $("#ModuleId")
                            .append(`<option value="${data[index].moduleId}">${data[index].name}</option>`);
                        $("#SerModuleId")
                            .append(`<option value="${data[index].moduleId}">${data[index].name}</option>`);
                    }
                    loadPageByIndex(1);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", errorThrown);
                }
            });
        })();

        $("#add-form").validate({
            //错误提示信息
            messages: {
                Count: {
                    required: "请填写选项数目",
                    digit: "请填写整数",
                    min: "选项最少为{0}"
                },
                A: {
                    required: "请至少填写两个选项"
                },
                B: {
                    required: "请至少填写两个选项"
                },
                Content: {
                    required: "请填写题干",
                    minlength: "题目允许的最小长度为{0}"
                },
                Answer: {
                    required: "请填写你的答案",
                    rangelength: "这是多选题哟！最多六个选项"
                }
            },
            //验证规则
            rules: {
                Count: {
                    required: true,
                    digits: true,
                    min: 2
                },
                A: {
                    required: true
                },
                B: {
                    required: true
                },
                //使用空间 name 名称
                Content: {
                    required: true,
                    minlength: 5
                },
                Answer: {
                    required: true,
                    rangelength: [1, 6]
                }
            },
            errorClass: "text-primary",
            submitHandler: function (form) {
                var _data = $(form).serialize();
                $.ajax({
                    url: `/Multiple/Create?${_data}`,
                    type: "post",
                    dataType: "json",
                    success: function (json, textStatus, jqXhr) {
                        //debug
                        console.log(json);
                        //end debug
                        if (json.isOk) {
                            form.reset();
                            loadPageByIndex(1);
                            onMask(json.title, json.message);
                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", "网络连接失败...");
                    }
                });
            }
        });

        function stateManager() {
            var pageIndex = parseInt($('.show-page-Index').text().trim()); //当前页
            var pageCount = parseInt($('.show-page-Count').text().trim()); //总共多少页
            if (pageIndex >= pageCount) {
                $('.Next').prop("disabled", true);
            } else {
                $('.Next').prop("disabled", false);
            }
            if (pageIndex == 1) {
                $('.Previous').prop("disabled", true);
            } else {
                $('.Previous').prop("disabled", false);
            }
        }

        function loadPageByIndex(index) {
            $.ajax({
                url: "/Multiple/Page",
                type: "post",
                dataType: "json",
                data: {
                    index: index,
                    mId: $('#corporation select[name="SerModuleId"]').val(),
                    pId: $('#corporation input[name="SerPrincipalId"]').val(),
                    content: $('#corporation input[name="SerContent"]').val()
                },
                success: function (json, textStatus, jqXhr) {
                    //debug
                    console.log(json);
                    // end debug

                    if (json.isOk) {
                        if (json.items == null) {
                            $('.section-items').html("");
                        } else {
                            for (var i = 0; i < json.items.length; i++) {
                                json.items[i].index = (i + 1);
                            }

                            var template = $('#item-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json);
                            $('.section-items').html(result);
                        }

                        $('.items-count').text(json.lineCount); //总数
                        $('.show-page-Count').text(`${json.pageCount}`); //分页总数
                        $('.show-page-Index').text(`${json.pageNowIndex}`); //当前页
                        $('button[data-lastIndex]').attr("data-lastIndex", json.pageCount); //最后一页 的index

                        $('select[data-options] > option').remove();
                        for (let index_ = 0; index_ < json.pageCount; index_++) {
                            $('select[data-options]').append(`<option value="${index_ + 1}">${index_ + 1}</option>`);
                        }
                        $('select[data-options]').val(index);
                        stateManager();
                    } else {
                        onMask("错误", json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        }

        $('.Next').click(function (jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) + 1);
        });

        $('.First').click(function (jqEvent) {
            loadPageByIndex(1);
        });

        $('.Previous').click(function (jqEvent) {
            loadPageByIndex(parseInt($('.show-page-Index').text().trim()) - 1);
        });

        $('.Last').click(function (jqEvent) {
            loadPageByIndex($('button[data-lastIndex]').attr("data-lastIndex").trim());
        });

        $('button[data-skip]').click(function (jqEvent) {
            var pageIndex = parseInt($('.show-page-Index').text().trim());
            var skip = parseInt($('select[data-options]').val().trim());
            if (skip === pageIndex) {
                onMask("提示信息", "跳转页面为当前页面");
            } else {
                loadPageByIndex($('select[data-options]').val());
            }
        });

        $('#search-items').click(function (jqEvent) {
            loadPageByIndex(1);
        });

        $('.section-items').on('click',
            '.detail-dialog',
            null,
            function (jqEvent) {
                $('#detail-dialog .update-form').attr("data-item-id", $(this).attr("data-item-id"));
                var id = $(this).attr("data-item-id");
                $.ajax({
                    url: "/Multiple/Item",
                    type: "post",
                    dataType: "json",
                    data: {
                        itemId: id
                    },
                    success: function (json, textStatus, jqXhr) {
                        //debug
                        console.log(json);
                        //end debug

                        if (json.isOk) {

                            var template = $('#form-template').html();
                            Mustache.parse(template);
                            var result = Mustache.render(template, json.item);
                            $('.update-form').html(result);

                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", "网络接连错误..");
                    }
                });



                $('#detail-dialog').modal('show');
            });

        $(".update-form").validate({
            //错误提示信息
            messages: {
                Count: {
                    required: "请填写选项数目",
                    digit: "请填写整数",
                    min: "选项最少为{0}"
                },
                A: {
                    required: "请至少填写两个选项"
                },
                B: {
                    required: "请至少填写两个选项"
                },
                Content: {
                    required: "请填写题干",
                    minlength: "题目允许的最小长度为{0}"
                },
                Answer: {
                    required: "请填写你的答案",
                    rangelength: "这是多选题哟！"
                }
            },
            //验证规则
            rules: {
                Count: {
                    required: true,
                    digits: true,
                    min: 2
                },
                A: {
                    required: true
                },
                B: {
                    required: true
                },
                //使用空间 name 名称
                Content: {
                    required: true,
                    minlength: 5
                },
                Answer: {
                    required: true,
                    rangelength: [1, 6]
                }
            },
            errorClass: "text-primary",
            submitHandler: function (form) {
                var _data = $(form).serialize();
                $.ajax({
                    url: `/Multiple/Update?${_data}`,
                    type: "post",
                    dataType: "json",
                    success: function (json, textStatus, jqXhr) {
                        //debug
                        console.log(json);
                        //end debug
                        if (json.isOk) {
                            loadPageByIndex(1);
                            onMask(json.title, json.message);
                        } else {
                            onMask(json.title, json.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onMask("错误", "网络连接失败...");
                    }
                });
            }
        });

        $('.section-items').on('click',
            '.delete-dialog',
            null,
            function (jqEvent) {
                $('#delete-dialog button:eq(1)').attr("data-item-id", $(this).attr("data-item-id"));
                $('#delete-dialog').modal('show');
            });

        $('#delete-dialog button:eq(1)').click(function (jqEvent) {
            var id = $(this).attr("data-item-id");
            $.ajax({
                url: "/Multiple/Delete",
                type: "post",
                dataType: "json",
                data: {
                    singleId: id
                },
                success: function (json, textStatus, jqXhr) {
                    //debug
                    console.log(json);
                    //end debug

                    if (json.isOk) {
                        $('#delete-dialog').modal('hide');
                        loadPageByIndex(1);
                        onMask(json.title, json.message);
                    } else {
                        onMask(json.title, json.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onMask("错误", "网络接连错误..");
                }
            });
        });


    </script>
}
