
$margin-padding-left-right-gap:15px;

.padding-15{
    padding:15px; 
}
.margin-15{
    margin: 15px;
}
.margin-15-down{
    margin-top: -27px;
}
.margin-bottom-15-down{
    margin-bottom: -15px;
}

$layout-gap:85px;
@while $layout-gap >= 0px {
    .margin-top-#{$layout-gap}{
        margin-top: $layout-gap;
    }
    .margin-bottom-#{$layout-gap}{
        margin-bottom: $layout-gap;
    }
    .margin-left-#{$layout-gap}{
        margin-left: $layout-gap;
    }
    .margin-right-#{$layout-gap}{
        margin-right: $layout-gap;
    }
    .padding-top-#{$layout-gap}{
        padding-top: $layout-gap;
    }
    .padding-left-#{$layout-gap}{
        padding-left: $layout-gap;
    }
    .padding-right-#{$layout-gap}{
        padding-right: $layout-gap;
    }
    .padding-bottom-#{$layout-gap}{
        padding-bottom: $layout-gap;
    }
    .margin-#{$layout-gap}{ 
        margin: $layout-gap;
    }
    .padding-#{$layout-gap}{
        padding:$layout-gap;
    }
    $layout-gap : $layout-gap - 5;
}

$layout-gap-down:-30px;

@while $layout-gap-down <= 0px  {
    .margin-top-negative-#{ 0 - $layout-gap-down}{
        margin-top:$layout-gap-down;
    }

    .margin-bottom-negative-#{0 - $layout-gap-down}{
        margin-bottom: $layout-gap-down;
    }
    .margin-left-negative-#{0 - $layout-gap-down}{
        margin-left: $layout-gap-down;
    }
    .margin-right-negative-#{0 - $layout-gap-down}{
        margin-right: $layout-gap-down;
    }

    .padding-top-negative-#{ 0 - $layout-gap-down}{
        padding-top: $layout-gap-down;
    }
    .padding-left-negative-#{ 0 - $layout-gap-down}{
        padding-left: $layout-gap-down;
    }
    .padding-right-negative-#{ 0 - $layout-gap-down}{
        padding-right: $layout-gap-down;
    }
    .padding-bottom-negative-#{ 0 - $layout-gap-down}{
        padding-bottom: $layout-gap-down;
    }

    $layout-gap-down : $layout-gap-down + 5;
}


.padding-left-right-normal{
    padding-left: $margin-padding-left-right-gap;
    padding-right: $margin-padding-left-right-gap;
}
.margin-left-right-normal{
    margin-left: $margin-padding-left-right-gap;
    margin-right: $margin-padding-left-right-gap;
}
@media screen and (min-width:992px){
    .float-layout{
        @each $fl in left,right {
            .float-#{$fl}{
                float: $fl;
            }
        }
    }
    .float-layout::after{
        //清楚浮动
        display: block;
        content: "";
        clear: both;
    }
}

.bc-img-grey{
    background: linear-gradient(to bottom,RGB(213,215,216),white);
}
.bc-clr-grey-little{
    background-color: rgba(246,246,246,0.9);
}
.bc-clr-white{
    background-color: white;
}
.bc-clr-black{
    background-color:RGB(44,44,44);
}

.bc-clr-primary{
    background-color: rgba(48,115,172,1);
}
.bc-clr-success{
    background-color: rgba(88,178,88,1);
}
.bc-clr-info{
    background-color: rgba(87,190,221,1);
}
.bc-clr-warning{
    background-color: rgba(240,170,70,1);
}
.bc-clr-danger{
    background-color: rgba(211,73,69,1);
}

.border-thumali{ 
    border-radius: 10px;
    border: 1px solid rgba(38,38,38,.2);
    box-shadow: 0px 3px 6px 0px rgba(38,38,38,0.5);
}
.dispaly-center{
    display: block;
    margin: 0 auto;
}   
.follows-item{
    $gap:8px;
    display: inline-block;
    margin-left: $gap;
    margin-right: $gap;
    b{
        font-size: 20px;
        font-weight: 600;
    }
    & span{
        font-weight: 500;
        font-size: 13px;
    }
}

.capsule{
    $nav-border-capsule-height-value:12.5px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgba(7,17,27,.8);
    border-top-left-radius: $nav-border-capsule-height-value;
    border-top-right-radius: $nav-border-capsule-height-value;
    border-bottom-left-radius: $nav-border-capsule-height-value;
    border-bottom-right-radius: $nav-border-capsule-height-value;
    padding-left: 15px;
    padding-right: 15px;
}
.capsule:hover{
    background-color:rgba(38,38,38,.05);
}
.height-value-900{
    min-height: 900px;
}
.layout-vedio{
    border-bottom: 1px solid rgba(38,38,38,.1);
    margin-top: 10px;
}
.boder-down-grey{
    border-bottom: 1px solid rgba(38,38,38,.1);
}

.progress-define-self{
    width: 300px;
    height: 15px;
}
.layout-position-bottom{
    position:absolute;
    bottom: 0px;
    width: 100%;
}
.layout-shooseOnlyOne{
    $clr-val:rgba(255,0,0,0.5);
    >a{
        margin-left: 5px;
        width: 28px;
        margin-top: 5px;
    }
    .val-active{
        
        background-color:$clr-val;
        border-color:$clr-val;
        color: white; 
    }
    .val-active:hover{
        background-color:rgba(255,0,0,0.6);
        color: white; 
    }
}
.layout-shooseNotOnlyOne{
    $opactiy:0.9;
    $clr-val:rgba(51,122,183,$opactiy);
    >a{
        margin-left: 5px;
        width: 28px;
        margin-top: 5px;
    }
    .val-active{
        background-color:$clr-val;
        border-color:$clr-val;
        color: white; 
    }
    .val-active:hover{
        $opactiy:1;
        background-color: $clr-val;
        color: white; 
    }
}

.layout-panduanTimu{
    $opactiy:0.9;
    $clr-val:rgba(240,173,78,$opactiy);
    >a{
        margin-left: 5px;
        width: 28px;
        margin-top: 5px;
    }
    .val-active{
        background-color:$clr-val;
        border-color:$clr-val;
        color: white; 
    }
    .val-active:hover{
        $opactiy:1;
        background-color: $clr-val;
        color: white; 
    }
}


.layout-jiandaTi{
    $opactiy:0.9;
    $clr-val:rgba(32,209,32,$opactiy);
    >a{
        margin-left: 5px;
        width: 28px;
        margin-top: 5px;
    }
    .val-active{
        background-color:$clr-val;
        border-color:$clr-val;
        color: white; 
    }
    .val-active:hover{
        $opactiy:1;
        background-color: $clr-val;
        color: white; 
    }
}

.labOnlyOneShoose{
    >.lab-SubjectContent::first-letter{
        font-weight: 600;
        font-size: 16px;
    }
    >.lab-SubjectContent{
        font-weight: 500;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    >.lab-Option{   
        text-indent: 10px;
        .lab-Option-Content{
          font-size: 13px;
          font-weight: 400;
          padding-left: 10px;
        }
    }
}

.labjudgementAnt{
    >.lab-MoreShoose::first-letter{
        font-weight: 600;
        font-size: 16px;
    }
    >.lab-judgementAnt{
        font-weight: 500;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    >.lab-Option{   
        text-indent: 10px;
        .lab-Option-Content{
          font-size: 13px;
          font-weight: 400;
          padding-left: 10px;
        }
    }
}

.labMoreShoose{
    >.lab-MoreShoose::first-letter{
        font-weight: 600;
        font-size: 16px;
    }
    >.lab-MoreShoose{
        font-weight: 500;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    >.lab-Option{   
        text-indent: 10px;
        .lab-Option-Content{
          font-size: 13px;
          font-weight: 400;
          padding-left: 10px;
        }
    }
}

.labAwnserAnt{
    >.lab-MoreShoose::first-letter{
        font-weight: 600;
        font-size: 16px;
    }
    >.lab-labAwnserAnt{
        font-weight: 500;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    >.lab-Option{   
        >textarea{
            width: 100%;
            height: 150px;
            resize: vertical;
        }
    }
}
.applicationForm{
    width: 100%;
    height: 190px;
    border-radius: 8px;
    border-style: inset;
    resize: none;
    padding-top: 5px;
    line-height: 25px;
    font-size: 16px;
    text-indent: 15px;
    text-shadow: 2px 2px 3px rgba(38,38,38,0.5);
}
.applicationForm:focus{
    outline: none;
}
